+b.SECTION.mobile-ad-section
  .container
    +e.mobile-ad-block
      +e.left
        +e.H1.title Мобильная реклама
        +e.P.info Продвижение услуг по базам операторов "Большой Тройки". Сообщение будет отправлено абонентам, давшим свое согласие. Доступны форматы SMS-, MMS-сообщений, USSD и различные варианты таргетирования (пол, возраст, география)