include ../../items/picture-item/picture-item

+b.SECTION.expert-section
  .container
    +e.H3.title Экспертный совет
    +e.row
      +picture-item("img/expert1.jpg")
      +picture-item("img/expert1.jpg")
      +picture-item("img/expert1.jpg")