include ../../items/picture-item/picture-item

+b.SECTION.expert-section
  .container
    +e.H3.title Экспертный совет
    +e.row
      +picture-item("img/expert1.jpg")
        +e.H4.title Иван Иванов
        +e.P.text Руководитель группы CRM, программ лояльности и потребительского опыта Яндекс.Маркет
      +picture-item("img/expert2.jpg")
        +e.H4.title Сергей Исаев
        +e.P.text Руководитель группы CRM, программ лояльности и потребительского опыта Яндекс.Маркет
      +picture-item("img/expert3.jpg")
        +e.H4.title Ирина Кравцова
        +e.P.text Руководитель группы CRM, программ лояльности и потребительского опыта Яндекс.Маркет
