// кнопка
.btn{
  position: relative;
  cursor: pointer;
  border: none;
  display: inline-block;
  background: transparent;
  color:$white;
  text-decoration: none;
  text-align: center;
  font-family: $main-font;
  font-weight: 100;
  background: $warm-blue;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 3px;
  transition: all .3s ease;
  &:hover{
    background: $black;
  }
  // модификатор
  &--disabled{
    pointer-events: none;
    opacity: 0.5;
  }
  &--line{
    background: transparent;
    border:solid 2px $warm-blue;
    color:$warm-blue;
    font-weight: 400;
    transition: none;
    &:hover{
      background: $warm-blue;
      color:#fff;
    }
  }


}


.btn-link{
  font-size: 20px;
  color:$black;
  font-weight: 300;
  text-decoration: none;
  svg{
    fill:$black;
    margin-left: 10px;
  }
  &--blue{
    color:$azul;
    svg{
      fill:$azul;
    }
    &:hover{
      color:$black;
      svg{
        fill:$black;
      }
    }
  }
}