+b.SECTION.sms-section
  .container
    +e.sms-block
      +e.left
        +e.H1.title Сервис двухфакторной аутентификации
        +e.P.info Метод идентификации пользователя в каком-либо сервисе, где используются два различных типа аутентификационных данных. Введение дополнительного уровня безопасности обеспечивает более эффективную защиту аккаунта от несанкционированного доступа.
      +e.right
        +e.right-wrap
          