+b.SECTION.hlr-section
  .container
    +e.hlr-block
      +e.left
        +e.H1.title HLR запросы
        +e.P.info Услуга по проверке статуса мобильного номера абонента: активен, не обслуживается, в роуминге или домашней сети. Сервис незаметен для абонента, так как запрос отправляется к базе данных оператора сотовой связи, который обслуживает данный телефонный номер
      +e.right
        +e.right-wrap
          
