+b.SECTION.calc
  .container
    +e.H2.title Расчёт стоимости

    +b#slider-block
      .min 5
      .max 999 999 +
      #slider-range

    +e.result#cost
      p <span>0,65 Руб.</span> / запрос
    +e.A(href="imsi-more.html", class="link") Подробнее об условиях