+b.SECTION.get-sms-section
  .container
    +e.get-sms-block
      +e.left
        +e.H1.title Виртуальные номера для приема SMS
        +e.P.info Услуга, которая позволяет принимать SMS-сообщения на закрепленный за вами номер. Используйте услугу для двустороннего обмена информацией между вами и вашими клиентами, например, для проведения викторин или опроса по качеству работы
      +e.right
        +e.right-wrap