.get-sms-section{
  border-bottom: 1px solid $white-six;
  &__get-sms-block{
    display: flex;
    align-items: center;
    margin-top: 95px;
 }
 &__left{
   padding-right: 80px;
 }
 &__title{
   font-size: 41.5px;
   font-weight: 300;
   margin-bottom: 45px;
 }
 &__info{
   font-size: 18px;
   line-height: 25px;
   font-weight: 300;
 }
 &__right{
   margin-bottom: 10px;
   width: 340px;
   height: 409px;
 }
 &__right-wrap{
   position: relative;
   width: 340px;
   height: 409px;
   background: url(../img/get-sms.jpg) center no-repeat;
   background-size: 100%;
 }
}

@media only screen and (max-width:992px){
  .get-sms-section{
   &__get-sms-block{
     margin-top: 50px;
   }
   &__left{
     padding-bottom: 50px;
   } 
  }
}

@media only screen and (max-width:767px){
  .get-sms-section{
    &__get-sms-block{
      flex-direction: column;
    }
    &__left{
      margin-top: 0;
      padding: 0;
    }
    &__info{

    } 
    &__right{
      display:flex;
      justify-content: center;
      margin-top: 30px;
      width: 100%;
    }
    &__right-wrap{
      width: 320px;
    }
   
  }
}