
include ../knowing-base/knowing-base
include ../../items/link-item/link-item
include ../../items/articles/articles

+b.technology-section
  .container
    +articles
      +e.left
        ul
          li(class="active")
            a(href="#") Все
          li
            a(href="#") Общая информация
          li
            a(href="#") Авторитейл
          li
            a(href="#") Банки
          li
            a(href="#") Индустрия развлечений
          li
            a(href="#") Интернет
          li
            a(href="#") Рестораны
          li
            a(href="#") Ритейл
          li
            a(href="#") Такси
          li
            a(href="#") Туризм
      +e.right
        .container
          +e.title Платформа премодерации
          +e.P.text Посредством смс-рассылки спамеры регулярно распространяют информацию о наркотиках, алкоголе, казино и борделях. И в этом случае уже не имеет значения: давал абонент свое согласие на получение этой рассылки или нет - данная информация является незаконной. Для предотвращения распространения SMS с незаконной рекламой в Telemarketing4you разработана и внедрена автоматизированная интеллектуальная платформа модерации шаблонов сообщений. 
          +e.P.text Все сообщения попадают на панель модерации, автоматические фильтры определяет слова-маркеры, также учитывается динамические выражения с возможностью замены символов. База стоп-слов пополняется регулярно.
          +e.P.text Все подобные шаблоны SMS блокируются, отправитель получает уведомление. Кроме того, при осуществлении SMS-информирования нередки факты нарушения закона «О рекламе», который запрещает распространять информацию о кальянах, курительных трубках и даже зажигалок. Рекламировать БАДы можно лишь при оговорке – не является лекарственным средством, а медицинские услуги – имеются противопоказания, проконсультируйтесь с врачом.
          +e.P.text Ежемесячно Devino Telecom отправляет порядка 500 млн SMS-сообщений и сотрудничает более чем со 130 SMS-агрегаторами, поэтому создание и внедрение автоматизированной платформы премодерации трафика для предотвращения спама является закономерным и необходимым шагом.
