
include ../knowing-base/knowing-base
include ../../items/link-item/link-item
include ../../items/articles/articles

+b.technology-section
  .container
    +articles
      +e.left
        ul
          li.title Основные технологии
          li(class="active")
            a(href="technology.html") Платформа премодерации

      +e.right
        .details__info
          +e.H1.title Платформа премодерации
          p Посредством смс-рассылки спамеры регулярно распространяют информацию о наркотиках, алкоголе, казино и борделях. И в этом случае уже не имеет значения: давал абонент свое согласие на получение этой рассылки или нет - данная информация является незаконной. Для предотвращения распространения SMS с незаконной рекламой в Telemarketing4you разработана и внедрена автоматизированная интеллектуальная платформа модерации шаблонов сообщений. 
          p Все сообщения попадают на панель модерации, автоматические фильтры определяет слова-маркеры, также учитывается динамические выражения с возможностью замены символов. База стоп-слов пополняется регулярно.
          p Все подобные шаблоны SMS блокируются, отправитель получает уведомление. Кроме того, при осуществлении SMS-информирования нередки факты нарушения закона «О рекламе», который запрещает распространять информацию о кальянах, курительных трубках и даже зажигалок. Рекламировать БАДы можно лишь при оговорке – не является лекарственным средством, а медицинские услуги – имеются противопоказания, проконсультируйтесь с врачом.
          p Ежемесячно Adelar Telecom отправляет порядка 500 млн SMS-сообщений и сотрудничает более чем со 130 SMS-агрегаторами, поэтому создание и внедрение автоматизированной платформы премодерации трафика для предотвращения спама является закономерным и необходимым шагом.
