.form{
  display: block;
  position: relative;
  input{
    padding-left: 22px;
    height: 60px;
    width: 100%;
    border: 1px solid $pinkish-grey;
    font-size: 16px;
  }
  span{
    color: $pinkish-grey;
    font-size: 31px;
    position: absolute;
    left: 22px;
    top: calc(50% - 15px);
    transition: all .2s ease;
  }
  &.active{
    input{
      border-color: $greyish-brown;
    }
    span{
      transition: all .2s ease;
      transform: translateY(-8px);
      font-size: 14px;
      color: $warm-grey-four;
    }
  }
}