include ../../items/articles/articles
+b.case-detail-section
  +knowing-base("")
        +articles
          +e.left
            ul
              li(class="active")
                a(href="#") Техносила
              li
                a(href="#") BNS Group
              li
                a(href="#") АВИЛОН
              li
                a(href="#") Мострансавто
              li
                a(href="#") Уютерра
              li
                a(href="#") Salamander
              li
                a(href="#") Адамас
          +e.right
            +b.case-detail
              +e.H1.title Техносила
              +e.P.text «Техносила» — омниканальный ретейлер, уже более двадцати трех лет работающий в сфере розничной торговли, о запуске новой программы лояльности по управлению взаимоотношениями с клиентами. Инновационное решение позволяет отслеживать историю продаж и осуществлять все маркетинговые коммуникации»
              img(src="img/case-detail.jpg")
              +e.P.text «Техносила» – омниканальный мультикатегорийный ретейлер. Это значит, развивает новые современные способы совершать покупки и расширяет ассортимент новыми категориями. Сегодня «Техносила» предлагает покупателям не только бытовую технику и цифровую электронику, но и мебель, игрушки, товары для дома и спортивные товары – ассортимент насчитывает уже более 80 000 позиций и растет каждый день. 
              +e.P.text Мы понимаем, что сегодня розничной компании необходимо иметь равный и одинаково высокий уровень сервиса во всех точках взаимодействия с покупателем – как офлайн, так и онлайн. Омниканальность – это не просто наличие нескольких каналов продаж, а равные условия для покупателя вне зависимости от того канала, по которому он к нам постучался в розничную сеть – будь то сайт, колл-центр или магазин, уровень сервиса, стандарты коммуникаций и условия покупки должны быть одинаковыми. <br>  «Техносила» движется от обезличенного контакта к точному знанию клиента и персональной коммуникации с учетом потребительских предпочтений, возраста, социальной принадлежности, географии и множества других факторов.  
              +e.P.text В декабре 2016 года в «Техносиле» была запущена новая программа лояльности. Ее целью стало улучшение клиентского опыта, уровня сервиса и эффективности маркетинга. Одним из ключевых моментов стало объединение офлайн и онлайн данных на базе единого клиентского ID. 
              +e.P.text В основе программы лояльности – полноценное CRM-решение, позволяющее отслеживать историю продаж и осуществлять все коммуникациями с клиентами. Программа обладает мощным онлайн-процессингом, который обеспечивает реагирование на запрос в течение 300 миллисекунд и практически не сказывается на скорости кассового обслуживания покупателей.
              +e.P.text Важным функционалом программы, которого раньше не было в «Техносиле», стала возможность идентификации покупателя на кассе по номеру телефона, что позволяет проинформировать клиента о сумме накопленных бонусов, предложить ему потратить все или часть накопленных баллов даже в том случае, если у него нет с собой карты. Также, клиент получил возможность оплачивать бонусными баллами покупки на сайте при онлайн оплате и отслеживать баланс и историю покупок в удобном личном кабинете. 
              +e.P.text Теперь на кассе стала доступной детальная информация о состоянии бонусного счета покупателя, о сроках сгорания или начисления бонусов. <br> Кассир также получит информацию о статусе подписки покупателя на маркетинговую информацию и сможет предложить активировать подписку в обмен на дополнительные бонусы. То же самое касается контактов клиента – при необходимости кассир сможет их обновить или внести дополнительный контакт в соответствующее поле в интерфейсе программы. <br> Кроме того, у кассира появилось еще много дополнительных возможностей. Из интерфейса программы он может: <br> - Найти клиента по фамилии, подсказать ему номер карты и количество накопленных бонусов; <br> - Оперативно связаться с оператором программы лояльности, написав ему письмо прямо из интерфейса. 
              +e.P.text Дополнительным преимуществом программы, в направлении развития омниканальности, стала возможность получения виртуальной карты на сайте компании с возможностью ее дальнейшего использования как в интернете, так и в розничных магазинах сети. При этом обладатели карт получают одинаковый уровень сервиса и условия обслуживания вне зависимости от того, какая у них карта – виртуальная или пластиковая. С момента запуска новой программы покупателям сети было выдано более 15 тысяч виртуальных бонусных карт. Это позволило существенно повысить проникновение программы лояльности в канале «домашняя доставка». 
              +e.P.text Новая программа лояльности имеет расширенные возможности аналитики, включая RF-аналитику. Появилась возможность проводить более эффективные целевые кампании по базе за счет более персонализированных предложений и поведенческого таргетинга. В начале года мы провели ряд целевых кампаний, используя экспресс баллы с ограниченным сроком действия и настроили триггер по сгорающим баллам. За 4 месяца использования суммарный эффект по акциям с экспресс баллами составил +58 млн. рублей в выручке и 3,5 млн рублей в валовой прибыли. В целом конверсия рассылок выросла с 0,34 в апреле 2016 года и до 1,8% в апреле 2017 года. <br> Также по сравнению с апрелем 2016 года: доля повторных продаж выросла с 16 до 29%, а процент проникновения программы лояльности в оборот увеличился с 53 до 64%. 
              +e.P.text Как показывает практика, на текущий момент – наибольший отклик приносят кампании, уже «проверенные временем». Это акции с экспресс баллами, День рождения и привязанные к календарным праздникам.
              +e.P.text Вячеслав Уваров <br> Директор по маркетингу и брендингу «Техносила»
              include ../../ui/social-block/social-block