.case-detail-section{
  .case-detail{
    &__title{
      font-size: 31px;
      font-weight: 300;
      color: $black;
      margin-top: 17px;
      margin-bottom: 55px;
    }
    img{
      margin-top: 20px;
      margin-bottom: 58px;
      width: 100%;
    }
    &__text{
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;
      color: $black;
      margin-bottom: 40px;
    }
  }
}