.case-detail-section{
  .details__info{
    padding-top: 30px;
    padding-bottom: 30px;
    p{
      width: 100%;
    }
  }
  .case-detail{
    &__title{
      font-size: 31px;
      font-weight: 300;
      color: $black;
      margin-bottom: 45px;
    }
    img{
      margin-top: 20px;
      margin-bottom: 58px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1200px){
  .case-detail-section{
    .articles__right{
      margin: 0;
    }
  }

}

@media only screen and (max-width: 992px){
  .case-detail-section{
    .details__info{
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

}