+b.SECTION.conference
  .container
    +e.conf-block
      +e.left
        +e.H1.title Онлайн-конференция «Мобильная реклама»
        +e.P.date 20 Апреля 2016
      +e.right
        +e.video
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Q53Fs0_7k_s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    +e.P.info Спикеры: Евгений Фадеев - директор по маркетингу Devino Telecom; Борис Молчанов – консультант по развитию клиентов Devino Telecom, приглашенный эксперт - Лариса Татарова, руководитель отдела продаж Департамента «Мобильная реклама» компании Stream