.conference{
  &__conf-block{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }
  &__left{
    padding-top: 30px;
  }
  &__title{
    font-size: 41.5px;
    color: $black;
    line-height: 48.5px;
    font-weight: 300;
    padding-right: 20px;
  }
  &__date{
    margin-top: 55px;
    color: #c3c3c4;
    font-size: 16px;
    font-weight: 300;
  }
  &__right{

  }
  &__video{

  }
  &__info{
    padding-top: 100px;
    padding-bottom: 200px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: $black;
    width: 70%;
  }
}

@media only screen and (max-width:892px){
  .conference{
    &__conf-block{
      flex-direction: column;
    }
    &__date{
      margin-top: 30px;
    }
    &__right{
      margin-top: 20px;
    }
    &__video{
      width: 100%;
      iframe{
        width: 100%;
      }
    }
    &__info{
      width: 100%;
      padding-top: 50px;
      padding-bottom: 100px;
    }
  }
}