include ../../items/input/input
+b.SECTION.form-section
  .container
    +e.H2.title Начните сегодня
    +e.P.info Подключение бесплатное, услуги оказываются cписанием со счета
    +e.inputs
      +input("Имя")
      +input("Фамилия")
      +input("Телефон")
      +input("E-mail")
      +input("Компания")
      +input("Должность")