.form-section{
  padding-bottom: 130px;
  padding-top: 10px;
  .form-block{
    display: none;
  }
  &__title{
    text-align: center;
    font-size: 39.5px;
    color: $black;
    font-weight: 300;
    margin: 50px 0;
  }
  &__info{
    text-align: center;
    color: $black-three;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 60px;
  }
  &__inputs{
    display: flex;
    flex-wrap: wrap;
    margin: -5px -4px 20px -4px;
    .input-block{
      width: calc(33% - 8px);
      margin: 5px 4px;
    }
  }
  &__buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn{
      margin-bottom: 20px;
      font-size: 21px;
    }
  }
}

@media only screen and (max-width:992px){
  .form-section{
    &__inputs{
      .input-block{
        width: calc(50% - 8px);
      }
    }
  }
}

@media only screen and (max-width:767px){
  .form-section{
    padding-bottom: 50px;
    padding-top: 0;
    &__title{
      font-size: 31.5px;
    }
    &__info{
      font-size: 16px;
      line-height: 1.5;
    }
    .form-block{
      margin-bottom: 15px;
    }
    &__inputs{
      .input-block{
        width: 100%;
      }
    }
  }
}