.articles{
  display: flex;
  &__left{
    min-width: 294px;
    max-width: 294px;
    padding-right: 30px;
    ul{
      
      li{
        display: flex;
        align-items: center;
        min-height: 58px;
        transition: all .3s ease;
        &.active{
          border-left: 2px solid $azul;
          a{
            color: $azul;
          }
        }
        &:hover{
          background:$pale-grey;
          transition: all .3s ease;
          a{
            color: $black;
            transition: all .3s ease;
          }
        }
        a{
          display: flex;
          align-items: center;
          line-height: 20px;
          font-size: 16px;
          font-weight: 300;
          color: $warm-grey-five;
          width: 100%;
          padding: 15px 10px 15px 25px;
          transition: all .3s ease;
        }
      }
    }
  }
  &__right{
    display: flex;
    flex-wrap: wrap;
   
    width: 100%;
    margin-bottom: auto;
    .link-item{
      width: calc(50% - 34px);
      margin: 17px;
    }
  }
}

@media only screen and (max-width: 992px){
  .articles{
    flex-direction: column;
    &__left{
      padding-right: 0;
      max-width: none;
      order:2;
      margin-top: 40px;
    }

    &__right{
      
    }
  }
}

@media only screen and (max-width: 762px){
  .articles{

    &__right{
      
      .link-item{
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }
}