+b.SECTION.path
  .container
    +e.links
      a(href="#") Главная
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="#") Видеозаписи
      span.separator /
      a(href="#") Онлайн конференции