include ../../items/articles/articles
+b.education-details-section
  +knowing-base("")
        +articles
          +e.left
            ul
              li(class="active")
                a(href="#") SMS – информирование – основы и принципы! Онлайн-семинар, посвященный СМС маркетингу
                  span.date 16.05.2017
              li
                a(href="#") Онлайн-конференция: «Мобильная реклама»
                  span.date 16.05.2016
             
          +e.right
            +b.education-details
              .container
                +e.H1.title SMS – информирование – основы и принципы! Онлайн-семинар, посвященный СМС маркетингу
                +e.SPAN.date 16.05.2017
                +e.P.text В программе трансляции мы рассказали про основы и главные принципы СМС маркетинга. Также разобрали все наболевшие темы и ответили на наиболее часто задаваемые вопросы. <br> Спикер семинара: Молчанов Борис, Менеджер по маркетингу Telemarketing4you
                +e.video
                  iframe(src="https://www.youtube.com/embed/Cr0cLgb6gTo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                //img(src="img/license.jpg")
                include ../../ui/social-block/social-block
                