+b.SECTION.clients-section
  .container
    +e.H1.title Клиенты
    +e.block
      +e.P.text «Мы удовлетворены услугами Devino Telecom и можем рекомендовать эту компанию всем, кто заинтересован в получении качественных услуг на базе SMS»
      +e.P.info — Максим Агаханов, директор департамента по связям с общественностью BNS-Group
      img(src="img/logos1.jpg")
    +e.block
      +e.P.text «TERVOLINA заботится о том, чтобы постоянные клиенты первыми узнавали о новых акциях и выгодных предложениях. Мы используем для информирования SMS-рассылки, этот инструмент уже не раз доказал свою эффективность и отлично воспринимается потребителями»
      +e.P.info — Максим Агаханов, директор департамента по связям с общественностью BNS-Group
      img(src="img/logos2.jpg")
    +e.block
      +e.P.text «За многолетнее сотрудничество Devino Telecom показала высокий уровень сервиса и внимательное отношение со стороны менеджеров. Отдельно бы хотелось отметить технических специалистов компании за безупречное представление сервиса и своевременную поддержку»
      +e.P.info — Шелепов Дмитрий, начальник отдела маркетинговой аналитики Спортмастер
      img(src="img/logos3.jpg")
    +e.block
      +e.P.text «Мы высоко ценим совместную работу с вашей компанией и осознаем, что сотрудничеcтво с вами позволяет повысить скорость части внутренних сервисов»
      +e.P.info — Артём Алякринский, директор филиала «Центральный», Евросеть
      img(src="img/logos4.jpg")
    +e.block
      +e.P.text «В процессе сотрудничества Devino Telecom зарекомендовала себя как надежного, стабильного партнера, точно в срок оказывающего услуги рассылок SMS-сообщений, показывая отличное качество работы, сервис и внимательное отношение сотрудников»
      +e.P.info — Пётр Розански, директор по маркетингу и рекламе, Ям Ресторанс Раша, KFC
      img(src="img/logos5.jpg")
    +e.block
      +e.P.text «Результаты оказываемых услуг показали, что компания Devino Telecom отличается чётким выполнением условий договора, соблюдением сроков поставки и, благодаря профессионализму специалистов компании, высоким качеством выполнения работ»
      +e.P.info — Ольга Еремеева, генеральный директор, Пандора
      img(src="img/logos6.jpg")
    +e.block
      +e.P.text «Сотрудники Devino, выполняя работы по предоставлению услуги SMS-информирования клиентов нашей компании, продемонстрировали профессионализм и ответственное отношение к делу»
      +e.P.info — Ирана Кациева, директор по маркетингу, Виктория
      img(src="img/logos7.jpg")