.clients-section{
  margin-bottom: 150px;
  &__title{
    font-size: 41.5px;
    font-weight: 300;
    color: $black;
    margin-top: 90px;
  }
  &__block{
    margin-top: 160px;
    text-align: center;
  }
  &__text{
    font-size: 30.5px;
    font-weight: 300;
    line-height: 1.6;
    max-width: 1045px;
    margin-bottom: 73px;
    margin-left: auto;
    margin-right: auto;
  }
  &__info{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: $greyish-brown;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 992px){
  .clients-section{
    .partners{
      margin-top: 30px;
    }
    margin-bottom: 50px;
    &__title{
      font-size: 31.5px;
      margin-top: 40px;
    }
    &__block{
      margin-top: 40px;
    }
    &__text{
      font-size: 16px;
      text-align: left;
      margin-bottom: 30px;
    }
    &__info{
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
}