include ../partners/partners
+b.SECTION.clients-section
  .container
    +e.H1.title Клиенты
    +e.block
      +e.P.text «Мы удовлетворены услугами Adelar Telecom и можем рекомендовать эту компанию всем, кто заинтересован в получении качественных услуг на базе SMS»
      +e.P.info — Максим Агаханов, директор департамента по связям с общественностью BNS-Group
      +partners("")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/1.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/2.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/3.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/4.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/5.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/6.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/7.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/rambler.png", alt="")


    +e.block
      +e.P.text «TERVOLINA заботится о том, чтобы постоянные клиенты первыми узнавали о новых акциях и выгодных предложениях. Мы используем для информирования SMS-рассылки, этот инструмент уже не раз доказал свою эффективность и отлично воспринимается потребителями»
      +e.P.info — Максим Агаханов, директор департамента по связям с общественностью BNS-Group
      +partners("")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/orby.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/pandora.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/tervolina.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/sunlight.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/zebra.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/kfc.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/shit.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/raik.png", alt="")


    +e.block
      +e.P.text «За многолетнее сотрудничество Adelar Telecom показала высокий уровень сервиса и внимательное отношение со стороны менеджеров. Отдельно бы хотелось отметить технических специалистов компании за безупречное представление сервиса и своевременную поддержку»
      +e.P.info — Шелепов Дмитрий, начальник отдела маркетинговой аналитики Спортмастер
      +partners("")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/milavitsa.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/redcube.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/goldcrown.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/dikaya.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/defile.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/buste.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/ostin.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/bns.png", alt="")


    +e.block
      +e.P.text «Мы высоко ценим совместную работу с вашей компанией и осознаем, что сотрудничеcтво с вами позволяет повысить скорость части внутренних сервисов»
      +e.P.info — Артём Алякринский, директор филиала «Центральный», Евросеть
      +partners("")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/kupivip.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/technosila.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/adidas.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/levis.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/linzmaster.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/finnflare.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/uraltrans.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/roseuro.png", alt="")


    +e.block
      +e.P.text «В процессе сотрудничества Adelar Telecom зарекомендовала себя как надежного, стабильного партнера, точно в срок оказывающего услуги рассылок SMS-сообщений, показывая отличное качество работы, сервис и внимательное отношение сотрудников»
      +e.P.info — Пётр Розански, директор по маркетингу и рекламе, Ям Ресторанс Раша, KFC
      +partners("")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/mts.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/uter.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/exist.gif", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/gj.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/wikimart.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/gett.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/cum.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/reebok.png", alt="")


    +e.block
      +e.P.text «Результаты оказываемых услуг показали, что компания Adelar Telecom отличается чётким выполнением условий договора, соблюдением сроков поставки и, благодаря профессионализму специалистов компании, высоким качеством выполнения работ»
      +e.P.info — Ольга Еремеева, генеральный директор, Пандора
      +partners("")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/rockport.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/sapato.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/mamaroma.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/otto.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/rostelekom.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/rusdolgnadzor.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/superoil.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/trialsport.png", alt="")
    +e.block
      +e.P.text «Сотрудники Adelar, выполняя работы по предоставлению услуги SMS-информирования клиентов нашей компании, продемонстрировали профессионализм и ответственное отношение к делу»
      +e.P.info — Ирана Кациева, директор по маркетингу, Виктория
      +partners("")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/dominos.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/ozon.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/afisha.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/akado.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/366.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/citylink.gif", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/coraltravel.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/favoritmotors.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/bosco.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/kuvalda.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/lenta.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/ashan.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/kidworld.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/intouch.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/knauf.gif", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/modis.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/girlsboys.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/ginza.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/adamas.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/ariston.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/oodji.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/mediamarkt.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/metro.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/fixprice.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/wwf.jpeg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/yak.gif", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/euronet.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/goldkey.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/modnaya.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/xfit.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/xfitp.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/uralsib.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/technopark.jpg", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/soglasie.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/tui.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/salamander.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/mango.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/calipso.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/metal.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/yves.gif", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/haiba.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/inter.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/dgtu.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/mkbs.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/rudent.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/saturn.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/pinskdrev.png", alt="")
        +e.LI.item
          +e.A(href="#", target="_blank")
            img(src="img/partners/drloder.jpg", alt="")