include ../../items/articles/articles
+b.vacancy-details-section
  +knowing-base("")
        +articles
          +e.left
            ul
              li(class="active")
                a(href="#") Java developer
              li
                a(href="#") Разработчик 1С
              li
                a(href="#") Senior Java developer
              li
                a(href="#") Devops инженер
             
          +e.right
            +b.vacancy-details
  
              .details__info
                +e.H1.title Java developer
                p Devino Telecom ищет своего Java разработчика в команду интеграционных решений. Для работы над проектами разработки и сопровождения интеграционных компонентов (backend) с системами компаний-партнеров. <br> Выбирая нас/работая у нас, ты примешь непосредственное участие в формировании требований и их анализом, сможешь заниматься разработкой нового функционала и проработкой архитектуры, продумывать возможность интеграции с другими информационными системами: Billing, BI, Личный кабинет клиента, 1С-бухгалтерия и тд.
                p Что известно о нас: <br> Мы Разработчик мультиканальной технологической платформы, позволяющей в комплексе решать задачи клиентов по доставке SMS, Email-сообщений, PUSH-уведомлений, IM-сообщений, созданию сервисов обратной связи для мобильных устройств. <br> С точки зрения разработки у нас сочный стэк технологий на бэкендах: Java 8/9, Spring (Boot). Используем в работе Redis, RabbitMQ, Kaffka, MS SQL, MongoDB. В разработке стремимся к CI/CD (Сontinuous integration delivery). Активно используем Docker/kubernetes.
                p Ты идеален для нас, если: <br> • Знаешь основные алгоритмы и структуру данных. <br> • Знаешь принципы и шаблоны ООП. <br> • Java Core, Concurrency, Collections, Basic I/O (NIO). <br> • Работал со Spring Framework (Core Container, Web, AOP, Data Access). <br> • Есть опыт работы с SQL, проектированием схем, написанием запросов, оптимизацией. <br> • Есть опыт работы с Git. <br> • Понимаешь принципы REST <br> • Умеешь разбираться в чужом коде и писать код, понятный другим участникам команды. <br> • А еще ты самостоятельный, ответственный, аккуратный и испытываешь любовь к юнит-тестам и code review.
                p То, что поможет нам склонить тебя на нашу сторону: <br> • Мы стабильная компания, оформляем по ТК РФ. <br> • У нас гибкий график работы, с возможностью сдвигать начало рабочего дня по своему усмотрению — с 8 до 12. <br> • Возможность работать над интересными и сложными проектами, гарантированный профессиональный и карьерный рост. <br> • Корпоративные плюшки: ДМС, техническая библиотека, игровая зона, а еще мы любим пить кофе с конфетами и печенюшками на своей уютной кухне. <br> • Заботимся о здоровье своих сотрудников: у нас ДМС и еженедельно свежие фрукты. <br> • Оплачиваем участие в тренингах, конференциях, семинарах. <br> • У нас дружная команда и насыщенная корпоративная жизнь. <br> • Расположение офиса с панорамным видом в 3х мин ходьбы от м. Динамо/м. Петровский парк. <br> • Ну и конечно же конкурентная заработная плата!
                p По вопросам вакансии обращайся: <a href="hr@devinotele.com"> hr@devinotele.com. </a> Ждем резюме, а также будем благодарны за рекомендации.
                