mixin solution-intro(sectionTitle, sectionClass, sectionImg)
  +b.SECTION.solution-intro(class=sectionClass)
    .container
      +e.left
        +e.H1.title #{sectionTitle}
      +e.image
        img(src=sectionImg, alt="")
