mixin solution-intro(sectionClass, sectionImg)
  +b.SECTION.solution-intro(class=sectionClass)
    .container
      +e.left
        if block
          block

      +e.image
        img(src=sectionImg, alt="")
