+b.SECTION.sms-section
  .container
    +e.sms-block
      +e.left
        +e.H1.title SMS-рассылка
        +e.P.info Распространение персонализированных информационных или рекламных сообщений от вашей компании. SMS-информирование широко используется банками и платежными системами, ритейлом, службами доставки еды и заказа такси, а также государственными заказчиками. По статистике, 97,5% получателей открывают сообщение в течение 5 секунд после его получения
      +e.right
        +e.right-wrap
          +e.message-wrap
            +e.text Мария, приглашаем вас отпраздновать День Рождения салон Моне! Ждем вас в 18.00 по адресу Якиманка, 3.<br>В программе конкурсы, подарки и мастер-классы от звезд парикмахерского искусства!<br>Пароль для входа: «именины Моне»
          
          
