extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs

block variables 
  - var pageClass = '';
  - var pageTitle = "Сбор согласий для Email и SMS-кампаний в социальных сетях";
  - var pageDescription = ""
  - var pageName = ""

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="#") Статьи
    include ../sections/details/details
    +details("Сбор согласий для Email и SMS-кампаний в социальных сетях", "20 Апреля 2016", "photo", "img/article-details.jpg")
      +e.DIV.info 
        p Социальные сети прочно вошли в нашу жизнь и стали неотъемлемым инструментом маркетинга. Их используют как официальное представительство крупных и небольших компаний, сервис клиентской поддержки, альтернативу интернет-магазину или дополнение к нему.
        p Площадки в социальных медиа также можно использовать для сбора и увеличения базы подписчиков. Стандартные способы сбора согласий широко известны: устное согласие по телефону, форма подписки на сайте, заполнение анкеты в розничной сети, использование короткого номера для приема SMS-сообщений.
        p Социальная сеть - отличное место, где можно предложить клиенту подписаться, чтобы быть в курсе всех "привилегий", доступных только членам клуба подписчиков. Несмотря на то, что согласно законодательству, согласие абонента, полученное в социальных сетях (вне зависимости от выбранной вами площадки) не считается легитимно полученным, не стоит забывать, что размещенный в социальной сети пост, может направлять на посадочные страницы или сайт с формой подписки на новости и спецпредложения. К тому же, привлечение подписчиков через социальные сети обойдется практически бесплатно для маркетингового бюджета (зависит от активности аудитории в социальных  сетях компании).
        p Варианты привлечения новых подписчиков ограничены лишь корпоративной культурой и особенностями той или иной площадки:
        p 1. Отдельный пост с предложением подписаться на новости и ссылкой на сайт или отдельную посадочную страницу с формой подписки, с указанием всех привилегий подписчика.
            | <br> 2. Конкурс, в рамках которого необходимо подписаться на  email/sms, чтобы получить в ответ на подписку код, который будет участвовать в розыгрыше призов. 
            | <br> 3. Заказ офлайн каталога (книги, буклета со скидками и пр.) - пользователь попадает на сайт с формой для ввода своего электронного адреса, мобильного телефона, и почтового адреса. 
            | <br> 4. Стимулирующие мероприятия (например, бонус за подписку на email/sms) - при подписке на указанный мобильный телефон высылается номер купона, который потом можно предъявить на кассе при оплате покупки.
        p При этом важно не забывать сделать легитимную форму сбора согласий на сайте или посадочной странице. Не забудьте указать, что клиент дает свое согласие на получение информационной или рекламной рассылки, а также на обработку персональных данных. Закон предписывает, что идентификация абонента должна быть однозначной. Это говорит о том, что ФИО должно быть указано полностью. Согласие от Валентина, Ирины или интернет-пользователя dmr789 легитимным не является. Отсутствие согласия на рассылку влечет за собой штраф в размере от 100 до 500 тысяч рублей.
        