extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/knowing-base/knowing-base

block variables 
  - var pageClass = '';
  - var pageTitle = "Техносила";
  - var pageDescription = ""
  - var pageName = "case-detail"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") Компания
      span.separator /
      a(href="#") Кейсы
      span.separator /
      a(href="#") Техносила
    include ../sections/case-detail-section/case-detail-section