extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs

block variables 
  - var pageClass = '';
  - var pageTitle = "Политики безопасности";
  - var pageDescription = ""
  - var pageName = "confidentiality"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="#") Главная
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="#") Политики безопасности

    +b.DIV.text(class="--padding")
      .container
        p(style="font-size:16px;font-weight:500") Политики безопасности
        h3(style="text-align:center") Политика конфиденциальности и защите персональных данных Devino Telecom
        h3 Общие положения
        p Настоящая Политика содержит информацию о персональных данных, которые собираются или генерируются (обрабатываются) при использовании Вами сервисов Devino Telecom, например, веб-сайта. Настоящая Политика содержит информацию о видах персональных данных, которые собираются при использовании Вами сервисов Devino Telecom, а также об использовании, передаче и защите Ваших персональных данных. Также в Политике разъясняются доступные Вам варианты действий в отношении Ваших персональных данных и то, как Вы можете связаться с нами. 
        p Сервис Devino Telecom является программно-аппаратным комплексом, доступным для удаленного использования через веб-сайт Devino Telecom. Сервис предоставляет Вам возможность осуществлять массовые рассылки SMS-, IM-, Email-сообщений и других видов персональной коммуникации в адрес получателя, который выразил свое согласие на получение этих сообщений от Вас.
        p Для получения полноценного доступа к персонализированным функциям нашего сервиса Вам необходимо зарегистрироваться в нашей системе, предоставив нам полную и достоверную информацию о себе. Результатом регистрации станет созданный в сервисе Devino Telecom виртуальный Личный кабинет, с помощью которого Вы будете использовать наш сервис и потреблять услуги.
        p Используя сервисы Devino Telecom Вы выражаете свое согласие с условиями данной Политики и предоставляете Devino Telecom право получать, хранить, обрабатывать и использовать Персональные данные и иную информацию, которую Devino Telecom получает в процессе использовании Вами сервисов нашей компании в соответствии с настоящей Политикой конфиденциальности.
        p Devino Telecom не собирает информацию о лицах, которые не достигли 13 летнего возраста и в связи с этим Вам запрещено использовать любые Персональные, Информационные и другие данные таких лиц в рамках Сервиса. 
        h3 Какие персональные данные мы собираем и в каких случаях?
        p Вами могут быть переданы нам определенные персональные данные для предоставления запрашиваемых Вами услуг, продуктов и сервисов. Например, когда Вы обращаетесь в наши отделы по работе с клиентами, отправляете запросы на получение сообщений, создаете учетную запись (аккаунт), участвуете в наших мероприятиях и соревнованиях, либо взаимодействуете с нашим сайтом или используете наши сервисы. К таким персональным данным относятся:
        ul
          li Контактные данные, в том числе фамилию, имя и отчетство, адрес электронной почты, номер телефона;
          li Сведения об авторизации и учетной записи, включая имя пользователя, пароль и уникальный идентификатор пользователя;
          li Персональные настройки, а также настройки отображения рекламы и использования cookie-файлов
        h3
          a(name='_GoBack')
          | Почему и как мы используем (обрабатываем) ваши персональные данные?
        p Мы используем полученные от Вас персональные данные следующим образом:
        p
          strong Для предоставления функций сайта и сервисов, которые вы запрашиваете
          |  
        p Когда Вы работаете с нашими сервисами мы используем Ваши данные для предоставления выбранных Вами услуг. Например, если Вы учувствуйте в каком-либо мероприятии или рекламной акции, мы используем предоставленную Вами контактную информацию для коммуникации с Вами по вопросам участия в мероприятии или рекламной акции. Если Вы обращаетесь в наши отделы по работе с клиентами, мы используем информацию о Вас, например Ваше имя, чтобы помочь Вам разрешить проблему или ситуацию. 
        p
          strong Для передачи информации о наших товарах, услугах, мероприятиях и в иных рекламных целях
        p Для изменения Ваших подписок (направляемых по электронной почте или смс) или отказа от получения сообщений Devino Telecom, просьба связаться с нами по телефону или почте info@devinotele.com, указанной в разделе Контакты на сайте.
        p Если Вы являетесь действующим клиентом компании, мы можем использовать предоставленный адрес электронной почты и номер телефона для направления Вам рекламных сообщений о подобных продуктах и услугах Devino Telecom, если ранее Вы предоставляли нам такое согласие при регистрации на сайте, пользовании нашими услугами или иным образом и Вы не отказались от рассылок. В иных случаях мы запрашиваем у Вас разрешение на направление рекламной информации о продуктах, услугах, мероприятиях и рекламных акциях.
        p Мы вправе использовать информацию, которую Вы предоставляете нам, а также информацию, полученную в отношении иных продуктов и услуг Devino Telecom, например, статистику использования Вами сайта, участия в мероприятиях Devino Telecom для персонализации отправляемых Вам сообщений о продуктах и услугах, которые могут Вас заинтересовать. Если это требуется законом, мы также обязуемся запрашивать у вас разрешение на направление рекламных сообщений.
        p
          strong Для ведения, улучшения и поддержки деятельности, продуктов и сервисов (услуг)
          |  
        p Мы можем использовать предоставляемые Вами данные в своей деятельности. Например, когда Вы совершаете покупку, мы вправе использовать соответствующую информацию для ведения бухгалтерского учета, проведения аудитов и иных внутренних целей. Еще один пример: мы можем использовать данные о том, как Вы используете наши продукты и услуги, для улучшения процесса Вашего взаимодействия с Devino Telecom, а также для выявления технических и сервисных проблем и администрирования сайта и сервисов.
        p
          strong Для защиты прав и имущества Devino Telecom и других лиц и для обеспечения их безопасности
          |  
        p Мы также вправе использовать данные о том, как Вы пользуетесь сайтом и услугами для предотвращения или выявления случаев мошенничества, злоупотребления, неправомерного использования и нарушения прав и законных интересов Devino Telecom, а также для обеспечения выполнения требований судебных актов, государственных органов, или применимого законодательства.
        p
          strong Для общих исследований и анализа
          |  
        p Мы используем данные о том, как наши посетители используют сайт и услуги Devino Telecom, чтобы лучше понимать поведение и предпочтения клиентов. Например, благодаря информации о процессе и результатах поиска посетителями сайта Devino Telecom, мы можем лучше понять, как оптимальным образом организовать и представлять услуги нашей компании.
        p
          strong Для решения кадровых вопросов и соблюдения норм законодательства в отношении трудовых отношений.
        p Мы используем данные, предоставляемые кандидатами за работу в нашей компании, при рассмотрении их кандидатур и принятии решения о сотрудничестве с ними. Этом могут быть фамилия, имя и отчество, а также контактные данные, содержащиеся в резюме кандидата.
        p Также мы работаем с персональными данными наших сотрудников в целях соблюдения норм налогового, пенсионного и трудового законодательства. Обработка персональных данных в этой области ведется в целях расчета и начисления заработных плат, организации командировок, соблюдения пропускного режима и учета рабочего времени, выдачи доверенностей добровольного страхования жизни и другим вопросам.
        p
          strong Прочие цели
        p Мы также можем использовать Ваши персональные данные для иных целей, и в таких случаях в момент сбора информации мы будем направлять Вам особое уведомление, а в случае необходимости – запрашивать Ваше согласие.
        h3 Передача Ваших персональных данных другим лицам
        p Devino Telecom передает Ваши персональные данные следующим лицам:
        ul
          li Аффилированным лицам Devino Telecom для целей и на условиях, описанных выше 
          li Сторонним поставщикам услуг, которые обрабатывают персональные данные от имени Devino Telecom, например, для обработки данных кредитных карт и платежей, отгрузки и доставки, управления нашими базами данных и их поддержки, рассылки электронных писем, исследований и анализа, управления брендом и рекламы товаров, а также для администрирования отдельных сервисов и функций. 
          li  Иным третьим лицам в объеме, необходимом для: (i) выполнения требований государственных органов, судебных актов или применимого законодательства; (ii) предотвращения незаконного использования наших сайтов и сервисов или нарушений условий использования наших услуг, а также наших регламентов; (iii) нашей защиты от претензий третьих лиц; и (iv) оказания содействия в предотвращении мошенничества или проведении следственных действий (например, в случае изготовления контрафактной продукции).
        p Мы также вправе осуществить передачу Ваших персональных данных в случае полной или частичной продажи или передачи нашего бизнеса или активов (в том числе в случае реорганизации, выделения, прекращения деятельности или ликвидации). 
        h3 Защита ваших Персональных данных и управление ими
        p
          strong Шифрование и безопасность
        p Мы применяем ряд технических и организационных мер безопасности, в том числе инструменты шифрования и проверки подлинности, для обеспечения безопасности Ваших персональных данных. Ваши персональные данные хранятся в защищенных сетях, и к ним имеет доступ лишь ограниченное количество лиц, обладающих специальными правами доступа к данным системам. 
        p
          strong Территория обработки
        p Хранение персональных данных, которые мы собираем или генерируем (обрабатываем) в рамках функционирования наших сайтов и услуг, осуществляется в Российской Федерации.
        p
          strong Срок хранения Ваших данных
        p Кроме случаев, когда законом установлено иное, мы будем хранить Ваши персональные данные в течение всего времени, необходимого для достижения целей, для которых мы их собираем. 
        p
          strong Ваши права в отношении Ваших персональных данных
        p Вы вправе потребовать:
        ol
          li предоставления доступа к Вашим персональным данным;
          li корректировки Ваших персональных данных, если они указаны не полностью или содержат неточности;
          li удаления Ваших персональных данных. Вы также вправе возразить против использования Ваших персональных данных, ссылаясь на законные основания, имеющие отношение к Вашей ситуации. Если мы получали Ваше согласие на обработку Ваших персональных данных, Вы вправе в любое время отозвать такое согласие. Вы также вправе возразить против обработки Ваших персональных данных, в том числе запретить их использование для целей прямого продвижения.
        h3 Cookie-файлы
        p Когда Вы используете сайт, Devino Telecom получает из Вашего браузера и записывает информацию, которая может включать персональные данные. Мы используем ряд способов, таких как cookie-файлы для сбора такой информации, которая может включать Ваш (i) IP-адрес (адрес межсетевого протокола); (ii) уникальный идентификатор cookie-файлов; информацию cookie-файлов и информацию о том, имеется ли на вашем устройстве программное обеспечение для доступа к определенным функциям; (iii) уникальный идентификатор устройства и тип устройства; (iv) домен, тип браузера и язык; (v) операционную систему и системные настройки; (vi) страну и часовой пояс; (vii) ранее посещенные веб-сайты; (viii) информацию о Вашем взаимодействии с нашим сайтом, такая как щелчки мышью; и (ix) время доступа и URL (адрес страницы в сети Интернет) источника запроса.
        p Мы используем cookie-файлы для получения статистики использования сайта, а также чтобы понимать предпочтения наших клиентов. Это позволяет нам оказывать клиентам услуги и повышать удобство их работы в Интернете. Чтобы улучшить работу нашего сайта, мы также используем cookie-файлы для сбора совокупных данных о трафике и взаимодействии с сайтом, для выявления тенденций и получения статистики. В целом, на сайте используются три категории cookie-файлов:
        p Функциональные: Такие cookie-файлы требуются для обеспечения базовой функциональности сайта и поэтому всегда включены. В эту категорию входят cookie-файлы, которые позволяют запоминать Вас, пока Вы просматриваете наш сайт в рамках одной сессии или от сессии к сессии, в зависимости от Вашего запроса. Они также помогают в реализации мер безопасности и соблюдении нормативных актов.
        p Эксплуатационные: Такие cookie-файлы позволяют нам совершенствовать функциональность сайта путем сбора статистики их использования. В некоторых случаях эти cookie-файлы повышают скорость обработки Ваших запросов и позволяют нам запоминать выбранные Вами настройки сайта. Отказ от использования таких cookie-файлов может привести к тому, что Вам будут предложены неверно подобранные рекомендации, а работа сайта будет замедлена.
        p Вы можете выбрать вариант, чтобы Ваш компьютер предупреждал Вас всякий раз, когда происходит отправление cookie-файла, либо отключить cookie-файлы. Это можно сделать через настройки браузера в каждом браузере и устройстве, которые Вы используете. Все браузеры несколько отличаются друг от друга. Перейдите в меню «Помощь» Вашего браузера, чтобы узнать правильный способ изменения настроек cookie-файлов. Если Вы отключите cookie-файлы, то некоторые из наших сервисов не будут функционировать надлежащим образом.
        h3 Внесение изменений в настоящую Политику
        p Со временем применимое законодательство и наша практика меняются, в связи с чем периодически мы можем вносить изменения в данной Политике. Если мы существенным образом изменим порядок обработки персональных данных, мы направим Вам предварительное уведомление или, в предусмотренных законом случаях, направим запрос на получение Вашего разрешения перед внедрением таких изменений. Мы настоятельно рекомендуем Вам ознакомиться с Политикой и быть в курсе наших практик.
        h3 Вопросы и обратная связь
        p Мы рады вопросам, комментариям и замечаниям о настоящей Политике и практике защиты персональных данных. Также Вы можете в любой момент обратиться к нам с запросом разъяснений процесса обработки и защиты персональных данных в нашей компании.
        p Если Вы желаете оставить свои комментарии, или у Вас возникли вопросы или замечания, либо Вы хотите осуществить Ваши права, связанные с персональными данными, обратитесь, пожалуйста, к нам любым удобным Вам способом.
        p Актуальная информация о контактных телефонах, адресах электронной почты и адресах получения корреспонденции указана в разделе Контакты нашего сайта.
        h3 Дополнительная информация
        p Сайт нашей компании может содержать ссылки на иные веб-ресурсы, где может находиться полезная и интересная для пользователей сайта информация, например, ссылки на такие социальные ресурсы как: www.facebook.com; twitter.com; vk.com; odnoklassniki.ru; www.youtube.com и другие. При этом действие настоящей Политики не распространяется на такие иные сайты. Пользователям, переходящим по ссылкам на другие сайты, рекомендуется ознакомиться с политиками об обработке данных, размещенными на таких сайтах.
        h3(style="text-align:center") Анти-СПАМ политика Devino Telecom
        h3 Общие положения
        p Devino Telecom в рамках своей деятельности выступает за строгое соблюдение запрета на рассылку СПАМ-сообщений в любой их форме.
        p Используя сервисы и услуги Devino Telecom Клиент подтверждает свое согласие с настоящей Политикой и обязуется соблюдать её в отношении всех отправляемых сообщений.
        h3 Что мы считаем СПАМом?
        p
          strong СПАМом являются
          |  сообщения, которые соответствуют хотя бы одному из следующих признаков:
        ol
          li Адресованы лицам, не дававшим своего предварительного согласия на их получение.
          li Содержат ложную информацию, способную ввести в заблуждение либо нанести ущерб.
          li Несут оскорбительный или клеветнический характер, разжигать национальную, расовую или религиозную рознь, содержать нецензурные слова и выражения.
          li Содержат информацию, запрещенную к распространению законодательством страны получателя или страны отправителя сообщения.
          li Не содержат обязательной информации, предусмотренной законодательством страны получателя или страны отправителя сообщения.
          li Содержат указание на объекты интеллектуальной собственности и авторских прав, на использование которых не получено письменное согласие от их владельца.
        
        p
          | Кроме того, 
          strong тематиками повышенного риска 
          | являются:
        ul
          li Займы, кредиты, микрофинансирование.
          li Политическая агитация.
          li Страхование.
          li Рынок ценных бумаг.
          li Лекарственные препараты, медикаменты, БАД.
          li Ставки на спорт.
          li MLM-компании и сетевой маркетинг.
          li Услуги помощи и оптимизации задолженности по кредитам, долговые коллекторы.
        p Сообщения подобного содержания будут заблокированы и Клиенту потребуется предоставить дополнительные подтверждения законности такой рассылки.
        p
          strong Запрещенные законодательством тематики
          |  не должны содержаться в отправляемых Клиентами сообщений и в случае обнаружения будут немедленно заблокированы. К ним относятся:
        ul
          li Оружие и взрывчатые вещества.
          li Интимные и эскорт- услуги.
          li Наркотические и психотропные вещества, а также их прекурсоры.
          li Запрещенные и рецептурные медицинские препараты.
          li Алкогольная продукция.
          li Табачные изделия, курительные принадлежности и аксессуары к ним.
          li Азартные игры.
          li Заменителей грудного молока.
          li Финансовые пирамиды
      
        p Независимо от содержания сообщения, предварительное согласие получателя является обязательным условием законности рассылки.
        p Не считаются выражением согласия ответы пользователей на вопросы анкет, а также опросы, в которых пункт вроде «хочу получать ваши материалы» отмечен по умолчанию и пользователь должен самостоятельно снять с него отметку, если он не хочет получать никаких материалов.
        p Фактом рассылки СПАМа (СПАМ-инцидентом) считается отправка сообщения любым способом, доступным средствами Devino Telecom, которое соответствует признакам СПАМа. Доставка такого сообщения до получателя не имеет значения при определении факта СПАМ-рассылки.
        p
          strong Если у Вас есть сомнения относительно отсутствия признаков СПАМа в Вашей рассылке, свяжитесь с нами. Мы определенно вам поможем!
        p Наши меры в случае несоблюдения Анти-СПАМ политики
        p При получении информации о нарушении настоящей Политики Клиентом предоставление услуг может быть приостановлено до выяснения деталей нарушения.
        p В процессе выяснения обстоятельств будет запрошена информация и документы, подтверждающие отсутствие признаков СПАМа, а также пояснения заинтересованных лиц. Клиент должен предоставить запрошенные документы в сроки, указанные в запросе.
        p При разборе жалоб Клиенту необходимо доказательно подтвердить тот факт, что сообщение не содержит признаков СПАМа. Отсутствие подтверждения будет означать, что это факт рассылки СПАМа (СПАМ-инцидент).
        p Оперативность ответа и предоставления информации непосредственным образом сказывается на длительности приостановки услуг и возможные финансовые последствия СПАМ-рассылки!
        p Если Клиент осуществляет или будет продолжать осуществлять СПАМ-рассылки, мы оставляем за собой право полностью приостановить оказание услуг без предупреждения и без возврата уплаченной стоимости Услуги, а также направить сообщения о СПАМе, рассылаемом Клиентом, компетентным органам и структурам.
        p Не ограничивая вышесказанное, Клиент будет нести ответственность за любые убытки или ущерб, понесенные Devino Telecom или любым третьим лицом, при условии, что такие убытки явились результатом несоблюдения условий настоящей Политики.
        p
          strong Если Вы считаете, что подверглись СПАМу от одного из наших Клиентов, пожалуйста, сообщите нами любым удобным Вам способом!
        include ../ui/social-block/social-block