extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages
include ../sections/service-intro/service-intro

block variables 
  - var pageClass = '';
  - var pageTitle = "Консалтинг";
  - var pageDescription = "Описание страницы"
  - var pageName = "consulting"

block content
  +b.MAIN(role='main').consulting-page
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") Консалтинг
    
    +service-intro("img/consulting.svg", "--pb")
      +e.H1.title Консалтинг
      +e.P.info Telemarketing4you оказывает своим клиентам юридическую и маркетинговую поддержку. Юридические консультации, содействие в организации эффективных коммуникационных стратегий под конкретные бизнес-задачи, сегментация существующей базы и аналитика эффективности информационных кампаний

    +advantages("Преимущества")
      ul
        li Юридические консультации по вопросам соблюдения законов №38-ФЗ «О рекламе», №126-ФЗ «О связи» и №152-ФЗ «О защите персональных данных»
        li Разработка коммуникационной стратегии
        li Подбор информационных поводов для рекламной кампании с учетом отраслевых и продуктовых особенностей
      ul
        li Копирайт и креатив SMS-сообщений
        li CRM-консалтинг: помощь в сборе и сегментации базы, аналитика результатов кампаний
        li Оценка эффективности информационных и рекламных кампаний