extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/header-intro/header-intro

block variables 
  - var pageClass = '';
  - var pageTitle = "Сбор согласий для Email и SMS-кампаний в социальных сетях";
  - var pageDescription = ""
  - var pageName = ""

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="#") Главная
      span.separator /
      a(href="#") CRM World Club

    +header-intro("CRM World Club", "Cообщество пр офессионалов в области маркетинговых коммуникаций", "photo", "img/crm.jpg")
    
    +b.DIV.details__info
      .container
        p Миссия Клуба – развитие персонализированных коммуникаций в российском ритейле и повышение эффективности бизнеса как следствие. 
        p Обмен опытом, применение лучших практик, развитие технологий, налаживание взаимоотношений между профессионалами отрасли – вот основные задачи Клуба. 
        p Качественная и эффективная работа с клиентской базой, персонализированная работа с клиентами во всех точках коммуникации имеет критическое значение для бизнеса и в период активного роста, и в кризисные времена. 
        p CRM Клуб помогает решать повседневные задачи, профессионально развиваться, получать новые знания и находить единомышленников!
        p В экспертный совет CRM Клуба вошли профессионалы отрасли, которые ежедневно сталкиваются с вопросами, стоящими перед современным российским ритейлом и имеют опыт практического решения задач.
            
    include ../sections/expert-section/expert-section
    include ../sections/events/events
        