extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs

block variables 
  - var pageClass = '';
  - var pageTitle = "Рабочая встреча Devino Telecom в Минске";
  - var pageDescription = ""
  - var pageName = ""

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="#") Главная
      span.separator /
      a(href="#") Компания
      span.separator /
      a(href="#") Devino Life
      span.separator /
      a(href="#") Рабочая встреча Devino Telecom в Минске
    include ../sections/details/details
    +details("Рабочая встреча Devino Telecom в Минске", "", "photo", "img/devino-details.jpg")
        +e.DIV.info 
            p 18 мая состоялся продуктивный воркшоп Devino Telecom в Минске.
            img(src="img/devino-img.jpg", alt="")
            p Официальное представительство Devino Telecom в Минске в этот раз собрало на одной площадке представителей таких компаний, как Электросила, Царское Золото, Космо, Falcon Club, BELWEST, ПерекрестОК, Виталюр, Мила, АЛМИ, ОМА, Милавица, Белгазпромбанк, BSB Bank, БПС-Сбербанк, Доктор Вет, Буслiк, Minimax, приватлизинг, shagovita, SLAVIA, Mothercare, Соседи, ГУМ, Elema, ЦУМ, АЗС-А100, К+С, Алешка, Евроопт, TokiNY.
            p Выступающие эксперты рассказали о новшествах индустрии и поделились своим опытом, как работают те или иные инструменты коммуникации с клиентом. Станислав Розен (CRM & Loyalty, Philips) поделился со слушателями про CRM стратегию и типы сегментации, а также затронул вопрос эволюции e-mail маркетинга. Арсений Уланов (CX & CRM expert , YANDEX) рассказал об основных принципах работы CRM-маркетинга. Эксперт компании Devino Telecom Борис Молчанов - про триггерные сообщения и рассылки. А представитель компании Viber – Кирилл Воробьев ознакомил участников с новыми способами рекламы в мессенджерах и новыми инструментами охвата аудитории.
            include ../ui/social-block/social-block