extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs


block variables 
  - var pageClass = '';
  - var pageTitle = "Telemarketing4you Education";
  - var pageDescription = "Описание страницы"
  - var pageName = "education"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная 
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="#") Telemarketing4you Education

    include ../sections/education-section/education-section