extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/knowing-base/knowing-base

block variables 
  - var pageClass = '';
  - var pageTitle = "SMS – информирование – основы и принципы! Онлайн-семинар, посвященный СМС маркетингу";
  - var pageDescription = ""
  - var pageName = "education-details"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="education.html") Devino Education
      span.separator /
      a(href="#") SMS – информирование – основы и принципы! Онлайн-семинар, посвященный СМС маркетингу
    include ../sections/education-details-section/education-details-section