extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages
include ../sections/service-intro/service-intro

block variables 
  - var pageClass = '';
  - var pageTitle = "E-mail рассылка";
  - var pageDescription = "Описание страницы"
  - var pageName = "email"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="#") Главная
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") E-mail рассылка

    +service-intro("img/phone-email.png")
      +e.H1.title E-mail рассылка
      +e.P.info Услуга, которая позволяет осуществлять массовую передачу персонализированных e-mail вашим клиентам и анализировать их поведение на основе статистических данных. Высокая скорость работы и отказоустойчивость, личный кабинет для управлениями услугами, интеграция сервиса с внешними системами автоматизации бизнеса по SMTP
    
    +advantages("Преимущества")
 
        ul
          li Оперативное уведомление своих потенциальных и действующих клиентов о скидках и акциях
          li Информирование о проведении мероприятий, новых товарах и услугах
          li Регулярная отправка деловых новостей подписчикам
          li Привлечение дополнительного трафика на свой сайт
    
        ul
          li Работа с клиентом в рамках программ лояльности и рекламных акций
          li Сбор и анализ статистики по проведенной рассылке
          li Простое и быстрое создание индивидуального макета письма
          li Возможность интеграции с внешними системами
    include ../sections/connection/connection