extends ../layout/layout

block variables 
  - var pageClass = '';
  - var pageTitle = "Онлайн-конференция";
  - var pageDescription = "Описание страницы"
  - var pageName = "index"

block content
  +b.MAIN(role='main')
    include ../sections/path/path
    include ../sections/email/email