extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages
include ../sections/service-intro/service-intro

block variables 
  - var pageClass = '';
  - var pageTitle = "Виртуальные номера для приема SMS";
  - var pageDescription = "Описание страницы"
  - var pageName = "get-sms"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") Прием SMS

    +service-intro("img/phone-get-sms.png")
      +e.H1.title Виртуальные номера для приема SMS
      +e.P.info Услуга, которая позволяет принимать SMS-сообщения на закрепленный за вами номер. Используйте услугу для двустороннего обмена информацией между вами и вашими клиентами, например, для проведения викторин или опроса по качеству работы


    +advantages("Преимущества")
      ul
        li Бесплатное подключение для ряда номеров
        li Онлайн-статистика в личном кабинете через интернет-браузер
        li Отправка уникального ответного SMS-сообщения
        li Возможность выделения «Золотых номеров»
        li Высокие проценты выплат
      ul
        li Последующая выгрузка данных в CSV
        li Передача данных на внешний скрипт по HTTPS или SMPP-протоколам для дальнейшей обработки
        li Отправка данных на заданный E-mail
        li Индивидуальный "красивый" короткий номер
    include ../sections/connection/connection