extends ../layout/layout
include ../sections/path/path

block variables 
  - var pageClass = '';
  - var pageTitle = "Онлайн-конференция";
  - var pageDescription = "Описание страницы"
  - var pageName = "index"

block content
  +b.MAIN(role='main')
    +path
      a(href="#") Главная
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") E-mail рассылка
    include ../sections/email/email
    include ../sections/advantages/advantages
    include ../sections/connection/connection