extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages

block variables 
  - var pageClass = '';
  - var pageTitle = "HLR рассылка";
  - var pageDescription = "Описание страницы"
  - var pageName = "hlr"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="#") Главная
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") HLR-запрос
    include ../sections/hlr-section/hlr-section
    +advantages("Преимущества")
      +e.left
        ul
          li Выявление действующих и недействующих абонентских номеров
          li Актуализация базы номеров
          li Оптимизация средств на рекламную кампанию в высокий отпускной сезон
      +e.right
        ul
          li Определение оператора, обслуживающего телефонный номер
          li Сбор и анализ статистики через личный кабинет
    include ../sections/connection/connection