extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages
include ../sections/service-intro/service-intro

block variables 
  - var pageClass = '';
  - var pageTitle = "HLR рассылка";
  - var pageDescription = "Описание страницы"
  - var pageName = "hlr"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="#") Главная
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") HLR-запрос

    +service-intro("img/hlr.png")
      +e.H1.title HLR запросы
      +e.P.info Услуга по проверке статуса мобильного номера абонента: активен, не обслуживается, в роуминге или домашней сети. Сервис незаметен для абонента, так как запрос отправляется к базе данных оператора сотовой связи, который обслуживает данный телефонный номер
    
    +advantages("Преимущества")
        ul
          li Выявление действующих и недействующих абонентских номеров
          li Актуализация базы номеров
          li Оптимизация средств на рекламную кампанию в высокий отпускной сезон
        ul
          li Определение оператора, обслуживающего телефонный номер
          li Сбор и анализ статистики через личный кабинет
    include ../sections/connection/connection