extends ../layout/layout

block variables 
  - var pageClass = 'body-index';
  - var pageTitle = "Международный оператор мобильного маркетинга Telemarketing4you - СМС рассылка сообщений, сервис sms рассылки через интернет";
  - var pageDescription = "Описание страницы"
  - var pageName = "index"

block content
  +b.MAIN(role='main')
    include ../sections/intro/intro
    include ../sections/intro-banner/intro-banner
    include ../sections/potential/potential
    include ../sections/analytics/analytics
    include ../sections/leader/leader
    include ../sections/partners/partners
    include ../sections/intro-banner/intro-banner