extends ../layout/layout
include ../sections/intro-banner/intro-banner
include ../sections/partners/partners

block variables 
  - var pageClass = '';
  - var pageTitle = "Международный оператор мобильного маркетинга Telemarketing4you - СМС рассылка сообщений, сервис sms рассылки через интернет";
  - var pageDescription = "Описание страницы"
  - var pageName = "index"

block content
  +b.MAIN(role='main')
    include ../sections/intro/intro
    +intro-banner("img/index-img.jpg", "company.html", "", "")
      +e.H3.text Мир не стоит на 
        br
        |месте и ваш
        br
        |бизнес должен
        br 
        |развиваться
        br 
        |вместе с ним
    include ../sections/potential/potential
    include ../sections/analytics/analytics
    include ../sections/leader/leader
    +partners("С нами работают","--gray")
      +e.LI.item
        +e.A(href="#", target="_blank")
          img(src="img/partners/1.jpg", alt="")
      +e.LI.item
        +e.A(href="#", target="_blank")
          img(src="img/partners/2.png", alt="")
      +e.LI.item
        +e.A(href="#", target="_blank")
          img(src="img/partners/3.jpg", alt="")
      +e.LI.item
        +e.A(href="#", target="_blank")
          img(src="img/partners/4.png", alt="")
      +e.LI.item
        +e.A(href="#", target="_blank")
          img(src="img/partners/5.png", alt="")
      +e.LI.item
        +e.A(href="#", target="_blank")
          img(src="img/partners/6.png", alt="")
      +e.LI.item
        +e.A(href="#", target="_blank")
          img(src="img/partners/7.png", alt="")
      +e.LI.item
        +e.A(href="#", target="_blank")
          img(src="img/partners/8.png", alt="")
    +intro-banner("img/index-img4.jpg", "crm-world-club.html", "--black", "marker")
      +e.H3.text Cообщество 
        br
        |профессионалов 
        br
        |в области 
        br
        |маркетинговых 
        br
        |коммуникаций