extends ../layout/layout

block variables 
  - var pageClass = 'body-index';
  - var pageTitle = "Главная страница";
  - var pageDescription = "Описание страницы"
  - var pageName = "index"

block content
  +b.MAIN.container(role='main')