extends ../layout/layout
include ../sections/intro-banner/intro-banner

block variables 
  - var pageClass = 'body-index';
  - var pageTitle = "Международный оператор мобильного маркетинга Telemarketing4you - СМС рассылка сообщений, сервис sms рассылки через интернет";
  - var pageDescription = "Описание страницы"
  - var pageName = "index"

block content
  +b.MAIN(role='main')
    include ../sections/intro/intro
    +intro-banner("img/index-img.jpg", "#", "", "")
      +e.H3.text Мир не стоит на 
        br
        |месте и ваш
        br
        |бизнес должен
        br 
        |развиваться
        br 
        |вместе с ним
    include ../sections/potential/potential
    include ../sections/analytics/analytics
    include ../sections/leader/leader
    include ../sections/partners/partners
    +intro-banner("img/index-img4.jpg", "#", "--black", "marker")
      +e.H3.text Cообщество 
        br
        |профессионалов 
        br
        |в области 
        br
        |маркетинговых 
        br
        |коммуникаций