extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs

block variables 
  - var pageClass = '';
  - var pageTitle = "Индустрия развлечений: как SMS-информирование собирает вечеринки";
  - var pageDescription = ""
  - var pageName = ""

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="industry-solution.html") Отраслевые решения
      span.separator /
      a(href="#") Индустрия развлечений
      span.separator /
      a(href="#") Индустрия развлечений: как SMS-информирование собирает вечеринки
    include ../sections/details/details
    +details("Индустрия развлечений: как SMS-информирование собирает вечеринки", "", "photo", "img/industry-details.jpg")
        +e.DIV.info 
            p Каждый сегмент этого рынка ориентируется на свою аудиторию: для кого-то, в силу меняющейся специфики развлекательной программы, затруднительно работать с лояльностью и они ориентируются на привлечение новой аудитории - концертные площадки, крупные клубы. Для небольших тематических заведений с развитой гастрономической или барной культурой, а также для закрытых клубов важна работа с лояльностью клиентов. В зависимости от аудитории различаются и способы работы с ней.
            h3 Инструменты
            p Для развлекательных заведений характерно использование визуального или звукового ряда, работа с эмоциями аудитории в рекламных коммуникациях. Когда речь идет о развлечениях и удовольствиях сложно говорить о прагматичном расчете и ценовой конкуренции. Традиционным выбором для этого рынка являются наружная и медийная реклама, радио-ролики. TV-реклама используется крайне редко, так как смена программы подразумевает новые рекламные материалы, а высокая стоимость видеоролика делает телевизионную рекламу не выгодной. POSM-материалы в виде флаеров - это излюбленный способ продвижения для клубов, баров и концертных залов среднего сегмента. Флаеры распространяются промоутерами и через партнеров площадки: институты, рестораны, кинотеатры. Сравнительно невысокая стоимость производства и высокая эффективность при правильном подходе к дистрибуции и креативу на флаере сделала его атрибутом российских клубов. SMS-информирование и начавшее бурный рост информирование аудитории <a href="#" target="_blank">через месенджеры</a> составляет флаерам заметную конкуренцию по цене и эффективности. 
            h3 СБОР БАЗЫ
            p В случае с использованием мобильной рекламы вопрос <a href="#" target="_blank">сбора базы</a> не встает - так как ответственность за наличие согласия абонента ложится на плечи оператора связи. Что касается сбора согласий для SMS-информирования, существуют различные способы. Для концертных площадок с on-line бронированием лучшим способом является сбор согласий и базы номеров на сайте. Бары, клубы, рестораны могут собирать базу с помощью вкладывания анкет в папку счета или во время выдачи скидочных карт. Многие клубы используют сбор базы в качестве повода для интерактива с клиентами: собирают анкеты с согласиями в рамках конкурса непосредственно во время мероприятия и разыгрывают случайные призы на основе данных анкет. Собирать согласия можно и с помощью приема сообщений на короткий номер, предлагая взамен “мнгновенный бонус” в качестве бесплатного угощения или напитка. Атмосфера заведений позволяет собрать базу в непринужденной обстановке, решив множество маркетинговых задач одновременно.
            h3 ЛЕГАЛЬНОСТЬ БАЗЫ
            p Согласно законодательству, абоненты должны подтвердить свое согласие на получение рассылки с какой-либо информацией. При этом согласие на  SMS-информирование должно четко идентифицировать человека (ФИО, дата рождения, подпись, номер телефона, e-mail). Подтверждением согласия являются заполненные анкеты, которые необходимо хранить бессрочно в виде логов сайта, электронных копий, бумажных документов. Также подтверждением может являться запись телефонного разговора с клиентом. Если же согласия собраны посредством SMS (например, с помощью отправки сообщения на короткий номер), то можно договориться об их хранении c провайдером услуги SMS-рассылки. Если согласия собраны без учета правовых норм или базе уже несколько лет - легализовать ее можно с помощью <a href="#" target="_blank">сервиса «Актуализация Базы»</a>.
            h3 СЕРВИСНЫЕ СООБЩЕНИЯ
            p Для всех заведений с on-line бронированием или иным типом бронирования  актуально напоминать о мероприятии сервисной рассылкой. Для заведений с собственной карточной или бонусной системой возможности шире: можно информировать о времени работы, поздравлять с праздником и благодарить за визит. Концертные площадки, которые имеют постоянно обновляемую программу, могут информировать о расписании мероприятий пользователей сайта, подписавшихся на определенную категорию концертов.
            h3 РЕКЛАМНЫЕ СООБЩЕНИЯ
            p Рекламные сообщения индустрии развлечений напрямую зависят от изменения программы. Сезонные акции, выступления артистов, мероприятия посвященные праздникам - обо всех этих событиях полезно напоминать своей аудитории в сообщениях. Возможности рассылок через мессенджеры позволяют таргетировать рекламу по географическому, половому и возрастному признакам - это поможет привлечь новую аудиторию. Также мультимедийные возможности рассылок через мессенждеры могут показать “товар лицом”: видео и фото контент, даже пресловутый флаер может быть отправлен в такой рассылке!