extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/knowing-base/knowing-base
include ../items/link-item/link-item
include ../items/articles/articles

block variables 
  - var pageClass = '';
  - var pageTitle = "Отраслевые решения";
  - var pageDescription = ""
  - var pageName = "idustry-solutions"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="#") Отраслевые решения
    +knowing-base("Отраслевые решения")
      +articles
        +e.left
          ul
            li(class="active")
              a(href="industry-solutions.html") Все
            li
              a(href="industry-solutions.html") Общая информация
            li
              a(href="industry-solutions.html") Авторитейл
            li
              a(href="industry-solutions.html") Банки
            li
              a(href="industry-solutions.html") Индустрия развлечений
            li
              a(href="industry-solutions.html") Интернет
            li
              a(href="industry-solutions.html") Рестораны
            li
              a(href="industry-solutions.html") Ритейл
            li
              a(href="industry-solutions.html") Такси
            li
              a(href="industry-solutions.html") Туризм
        +e.right
          +link-item("industry-details.html","photo","img/industry1.jpg")
            +e.title Индустрия развлечений
            +e.link-name Индустрия развлечений: как SMS-информирование собирает вечеринки
          +link-item("industry-details.html","photo","img/industry2.jpg")
            +e.title Авторитейл
            +e.link-name Авторитейл делает ставку на лояльность клиентов
          +link-item("industry-details.html","photo","img/industry2.jpg")
            +e.title Общая информация
            +e.link-name Технический трафик: SMS-информирование в самых неожиданных местах
          +link-item("industry-details.html","photo","img/industry4.jpg")
            +e.title Общая информация
            +e.link-name Как простым и законным способом собрать базу для SMS-рассылок?
          +link-item("industry-details.html","photo","img/industry5.jpg")
            +e.title Интернет
            +e.link-name Интернет-магазины: как мобильные технологии помогают online-торговле
          +link-item("industry-details.html","photo","img/industry6.jpg")
            +e.title Такси
            +e.link-name Пассажироперевозки: SMS-информирование как основа клиентского сервиса
          +link-item("industry-details.html","photo","img/industry7.jpg")
            +e.title Банки
            +e.link-name SMS-информирование для платежных систем и банков
          +link-item("industry-details.html","photo","img/industry8.jpg")
            +e.title Рестораны
            +e.link-name Повышение качества клиентского сервиса с помощью SMS
          +link-item("industry-details.html","photo","img/industry9.jpg")
            +e.title Туризм
            +e.link-name SMS-информирование в туристической отрасли
          +link-item("industry-details.html","photo","img/industry10.jpg")
            +e.title Ритейл
            +e.link-name Применение инструмента SMS-рассылок в розничной торговле