extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/knowing-base/knowing-base
include ../items/link-item/link-item
include ../items/articles/articles

block variables 
  - var pageClass = '';
  - var pageTitle = "Телемаркетинг Онлайн";
  - var pageDescription = ""
  - var pageName = "telemarketing-online"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="#") Отраслевые решения
    +knowing-base("Отраслевые решения")
      +articles
        +e.left
          ul
            li(class="active")
              a(href="#") Все
            li
              a(href="#") Общая информация
            li
              a(href="#") Авторитейл
            li
              a(href="#") Банки
            li
              a(href="#") Индустрия развлечений
            li
              a(href="#") Интернет
            li
              a(href="#") Рестораны
            li
              a(href="#") Ритейл
            li
              a(href="#") Такси
            li
              a(href="#") Туризм
        +e.right
          +link-item("industry-details.html","photo","img/industry1.jpg")
            +e.title Индустрия развлечений
            +e.link-name Индустрия развлечений: как SMS-информирование собирает вечеринки
          +link-item("#","photo","img/industry2.jpg")
            +e.title Авторитейл
            +e.link-name Авторитейл делает ставку на лояльность клиентов
          +link-item("#","photo","img/industry2.jpg")
            +e.title Общая информация
            +e.link-name Технический трафик: SMS-информирование в самых неожиданных местах
          +link-item("#","photo","img/industry4.jpg")
            +e.title Общая информация
            +e.link-name Как простым и законным способом собрать базу для SMS-рассылок?
          +link-item("#","photo","img/industry5.jpg")
            +e.title Интернет
            +e.link-name Интернет-магазины: как мобильные технологии помогают online-торговле
          +link-item("#","photo","img/industry6.jpg")
            +e.title Такси
            +e.link-name Пассажироперевозки: SMS-информирование как основа клиентского сервиса
          +link-item("#","photo","img/industry7.jpg")
            +e.title Банки
            +e.link-name SMS-информирование для платежных систем и банков
          +link-item("#","photo","img/industry8.jpg")
            +e.title Рестораны
            +e.link-name Повышение качества клиентского сервиса с помощью SMS
          +link-item("#","photo","img/industry9.jpg")
            +e.title Туризм
            +e.link-name SMS-информирование в туристической отрасли
          +link-item("#","photo","img/industry10.jpg")
            +e.title Ритейл
            +e.link-name Применение инструмента SMS-рассылок в розничной торговле