extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs


block variables 
  - var pageClass = '';
  - var pageTitle = "Новости";
  - var pageDescription = "Описание страницы"
  - var pageName = "news"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная 
      span.separator /
      a(href="#") Компания
      span.separator /
      a(href="#") Новости

    include ../sections/news-section/news-section
    

    