extends ../layout/layout
include ../sections/path/path

block variables 
  - var pageClass = '';
  - var pageTitle = "Онлайн-конференция";
  - var pageDescription = "Описание страницы"
  - var pageName = "index"

block content
  +b.MAIN(role='main')
    +path
      a(href="#") Главная
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="#") Видеозаписи
      span.separator /
      a(href="#") Онлайн конференции
    include ../sections/conference/conference