extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs

block variables 
  - var pageClass = '';
  - var pageTitle = "Devino Telecom обеспечит аутентификацию для уличного WI-FI в городе Реутов";
  - var pageDescription = ""
  - var pageName = ""

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") Компания
      span.separator /
      a(href="press-center.html") Пресс-центр
      span.separator /
      a(href="#") Пресс-релизы
      span.separator /
      a(href="#") Devino Telecom обеспечит аутентификацию для уличного WI-FI в городе Реутов
    include ../sections/details/details
    +details("Devino Telecom обеспечит аутентификацию для уличного WI-FI в городе Реутов", "", "photo", "img/press-center-details.jpg")
        +e.DIV.info 
            p В Реутове успешно введена в эксплуатацию система авторизации пользователей в уличной сети Wi-Fi на пешеходной улице Победы и в МФЦ. Она обеспечивает СМС-идентификацию в соответствии c требованиями ФЗ №97, постановления Правительства РФ №758 от 31.07.14 и постановления Правительства РФ №801 от 12.08.14 по обязательной идентификации пользователей и используемого ими оконечного оборудования.
            p Проект реализован компанией Элефус, которая является партнером компании Devino Telecom. Предложенное решение обеспечивает применение гибких политик доступа, перенаправление трафика на сайт Администрации г. Реутов, сбор множества статистических данных, возможность поиска и розыска абонента по ведущейся базе данных.Решение является полностью российской разработкой и функционирует на серверах Заказчика. 
            p Поставщиком SMS-сообщений выступила компания Devino Telecom, который обеспечивает гарантированную доставку сообщений через любого оператора связи РФ. В качестве точек доступа с централизованным управлением применялось оборудование Ruckus Wireless. Уличные точки доступа Ruckus используются в местах, где требуется обеспечить гарантированный доступ в Интернет для большого количества абонентов.
