extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs

block variables 
  - var pageClass = '';
  - var pageTitle = "Retail Data";
  - var pageDescription = ""
  - var pageName = "retail"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") Решения
      span.separator /
      a(href="#") Retail Data
    include ../sections/details/details
    +details("Retail DATA", "", "photo", "img/retail-title.jpg")
      +e.DIV.info 
        p Уникальная инновационная система оптимизации SMS-трафика от лидера в области организации персонализированных коммуникаций для российских Ритейлеров!*
        p Компания Telemarketing4you постоянно работает над инновационными продуктами для своих клиентов, предлагая на рынок революционные решения. Одним из таких решений является интеллектуальная платформа анализа и оптимизации SMS-трафика, которую мы назвали Retail DATA. Благодаря тому, что трафик большинства российских розничных сетей проходит через платформу Dеvino Telecom, мы смогли подчинить массив данных анализу и реализовать систему оптимизации SMS-трафика за счет фиксации и дополнительной проверки неактивных номеров абонентов в рамках накопленных клиентских баз крупнейших торговых сетей России!
        p Если объяснять техническую схему реализации платформы, то примерно это выглядит следующим образом:
        p Ритейлер «Х» направляет SMS-сообщение своему клиенту, например, об очередной рекламной акции. При этом абонент доступен и сообщения ему свободно доставляются. В этом случае система контролирует доступность номера абонента для всех отправителей.
        img(src="img/retail1.jpg")
        p *пример использования технологии в сегменте Бытовой техники и электроники.
        p В том случае, когда SMS-сообщение не доставляется (возникают проблемы с доступностью номера абонента), система автоматически «размечает» такой номер, как требующий дополнительной технической проверки при следующей отправке SMS-сообщения. И каждый последующий отправитель, направляющий сообщение на этот номер, предварительно, в автоматическом режиме, получает от системы статус проверки номера. Если номер по прежнему не доступен, сообщение на данный номер не отправляются.
        img(src="img/retail2.jpg")
        p *пример использования технологии в сегменте Бытовой техники и электроники.
        p Процесс проверки номера является динамическим и в случае, если в процессе проверки номер «оживает» (абонент становится доступен после истечения срока жизни сообщения, возвращается из роуминга и т.п.), то с этого момента все сообщения на данного абонента свободно отправляются до тех пор, пока он снова станет не доступен.
        img(src="img/retail3.jpg")
        p *пример использования технологии в сегменте Бытовой техники и электроники.
        p Анализ сопоставления баз абонентов показывает, что пересечения абонентов возможны на уровне от 15% до 85%, в зависимости от типа бизнеса. Чем больше проникновение программы лояльности того или иного ритейлера в определенную целевую аудиторию, тем выше вероятность того, что номер будет неуникальным и получит возможность предварительного анализа в зависимости от рассылок других участников рынка.
        p 
          +e.SPAN.red Retail DATA экономит ОТ 5% ДО 25% БЮДЖЕТА за счет запрета отправки на неактивные номера
        +e.list
          p Основные особенности платформы, это:
          ul
            li Интеллектуальная система анализа статусов абонента;
            li Двухфакторная проверка неактивного номера перед отправкой;
            li Скорость выполнения сценария 0,5 сек.;
            li Объем аналитических операций свыше 24 000 в секунду!
        p В бизнес-модели использования, платформа позволяет существенно экономить бюджет на отправленные сообщения за счет запрета отправки на неактивные номера. Платформа работает эффективно только в случае, если через нее проходит большинство SMS-трафика российских розничных компаний. Использование платформы снижает риски при использовании реактивационных баз (абонентов, которым давно не направляли сообщения), экономит бюджет при интенсивном приросте базы (запуске программы лояльности), когда вероятность ошибки при заведении анкеты в CRM-систему достаточно высока.
        p Стоимость отправки оптимизированного сообщения ниже в 11 раз!
        p Со временем, платформа будет предлагать клиентам дополнительный функционал, такой, как обогащение данных сегментными признаками по интересам, предоставление данных для контактной политики и многое другое.
        p С уверенностью можно сказать, что Retail DATA – это уникальная технология, которая в корне изменит механику взаимодействия ритейлеров с клиентами в рамках SMS-информирования!
        a(href="#") СКАЧАТЬ ПРЕЗЕНТАЦИЮ>>>
        +e.small-text
          p *Исследование Российской Ассоциации Электронных коммуникаций
          a(href="#") «РОССИЙСКИЙ РЫНОК SMS-РАССЫЛОК. ТЕКУЩЕЕ СОСТОЯНИЕ, ПЕРСПЕКТИВЫ, ДРАЙВЕРЫ И БАРЬЕРЫ РАЗВИТИЯ» 2016г.

