extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages

block variables 
  - var pageClass = '';
  - var pageTitle = "SMS-рассылка";
  - var pageDescription = "Описание страницы"
  - var pageName = "sms"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="#") Главная 
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") SMS-рассылка
    include ../sections/sms-section/sms-section
    +advantages("Пакет сервисных услуг")
        ul
          li Круглосуточная служба Клиентского Сервиса
          li Юридическая поддержка интересов клиентов при возникновении претензий со стороны регулирующих органов
          li Маркетинговый консалтинг при организации информационных и рекламных кампаний, помощь в составлении эффективных сообщений
          li CRM консалтинг: содействие в организации коммуникационных стратегий, сегментировании клиентов, аналитике
          li Двухуровневая система премодерации трафика, минимизация рисков при отправлении
        ul
          li Упрощенное бизнес-администрирование: предоставление единой «точки входа» для работы со всеми операторами, один договор, единый счет и детализация
          li Сервис маршрутизации SMS-сообщений: автоматическая сегментация базы клиентов для каждого оператора, отсутствие проблем с портированными номерами
          li Интеграция с любыми информационными и CRM системами
          li Возможность создания мультиканальных коммуникационных кампаний с использованием SMS, Email и других инструментов
    include ../sections/connection/connection