extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages
include ../sections/service-intro/service-intro

block variables 
  - var pageClass = '';
  - var pageTitle = "SMS-рассылка";
  - var pageDescription = "Описание страницы"
  - var pageName = "sms"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная 
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") SMS-рассылка

    +service-intro("img/phone-sms.png")
      +e.H1.title SMS-рассылка
      +e.P.info Распространение персонализированных информационных или рекламных сообщений от вашей компании. SMS-информирование широко используется банками и платежными системами, ритейлом, службами доставки еды и заказа такси, а также государственными заказчиками. По статистике, 97,5% получателей открывают сообщение в течение 5 секунд после его получения
    
    +advantages("Пакет сервисных услуг")
        ul
          li Круглосуточная служба Клиентского Сервиса
          li Юридическая поддержка интересов клиентов при возникновении претензий со стороны регулирующих органов
          li Маркетинговый консалтинг при организации информационных и рекламных кампаний, помощь в составлении эффективных сообщений
          li CRM консалтинг: содействие в организации коммуникационных стратегий, сегментировании клиентов, аналитике
          li Двухуровневая система премодерации трафика, минимизация рисков при отправлении
        ul
          li Упрощенное бизнес-администрирование: предоставление единой «точки входа» для работы со всеми операторами, один договор, единый счет и детализация
          li Сервис маршрутизации SMS-сообщений: автоматическая сегментация базы клиентов для каждого оператора, отсутствие проблем с портированными номерами
          li Интеграция с любыми информационными и CRM системами
          li Возможность создания мультиканальных коммуникационных кампаний с использованием SMS, Email и других инструментов
    include ../sections/connection/connection