extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs

block variables 
  - var pageClass = '';
  - var pageTitle = "Технологии";
  - var pageDescription = ""
  - var pageName = "technology"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") Решения
      span.separator /
      a(href="#") Технологии

    include ../sections/technology-section/technology-section

