extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages
include ../sections/service-intro/service-intro

block variables 
  - var pageClass = '';
  - var pageTitle = "Телемаркетинг Онлайн";
  - var pageDescription = "Описание страницы"
  - var pageName = "telemarketing-online"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="#") Главная
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") Telemarketing Online

    +advantages("Преимущества")
      ul
        li Все виды рассылок в одном личном кабинете
        li Автоматическое транслитирование текста
        li Статистика e-mail-рассылки
        li Отправка сообщения по местному времени
      ul
        li Актуализация базы данных с помощью HLR-запроса
        li Функция приема сообщений на федеральные и короткие номера
        li Создание запланированных рассылок или автоматических рассылок по дате рождения
    
    +service-intro("img/phone-sms.png","--service --left --pb")
      +e.H1.title SMS рассылка
      +e.P.info Распространение персонализированных информационных или рекламных сообщений от вашей компании с помощью SMS сообщений на мобильные устройства. SMS-информирование широко используется банками и платежными системами, ритейлом, службами заказа еды и доставки такси, а также государственными заказчиками. Стоит отметить, что 97,5% получателей открывают сообщение в течение 5 секунд после его получения
    +service-intro("img/phone-get-sms.png","--service --pb")
      +e.H1.title Прием SMS
      +e.P.info Принимайте входящие SMS-сообщения на закрепленный за вами номер. Используйте эту услугу для двустороннего обмена информацией между вами и вашими клиентами, Например, для проведения викторин, опросов по качеству работы или отправке сервисной информации
    +service-intro("img/hlr.png","--service --left --pb")
      +e.H1.title HLR-запрос
      +e.P.info Услуга по проверке статуса мобильного номера абонента: активен, не обслуживается, в роуминге или домашней сети. Сервис незаметен для абонента, так как запрос отправляется к базе данных оператора сотовой связи, обслуживающего данный телефонный номер. Услуга позволяет актуализировать клиентскую базу
    include ../sections/telemarketing-online-usage/telemarketing-online-usage
    include ../sections/form/form