extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages
include ../sections/service-intro/service-intro
include ../sections/solution-intro/solution-intro
include ../sections/form/form
include ../sections/telemarketing-usage/telemarketing-usage

block variables 
  - var pageClass = '';
  - var pageTitle = "Телемаркетинг Integration";
  - var pageDescription = ""
  - var pageName = "telemarketing-integration"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") Решения
      span.separator /
      a(href="#") Telemarketing Integration

    +solution-intro("--breadcrumbs", "img/integration.jpg")
          +e.H1.title Telemarketing <span>Integration</span>
          +e.P.description Низкоуровневая интеграция для крупного бизнеса

    +advantages("Преимущества", "--big")
      ul
        li Наличие необходимых специалистов в штате компании – более 100 сотрудников
        li Широкий спектр интеграционных решений, в том числе с Microsoft Dynamics CRM, Oracle, SAP
        li Более 10-ти успешно внедренных проектов в крупных компаниях
      ul
        li Технологии, основанные на 9-летнем опыте компании и проектных разработках ведущих мировых вендоров
        li Предоставление комплексного решения «под ключ»: предпроектный консалтинг, поставка и внедрение программного обеспечения и инфраструктурных решений, обучение пользователей и техническая поддержка
    
    +service-intro("img/1.png","--service --pb180")
      +e.H1.title Эффективные решения
      +e.P.info Для реализации задач крупного бизнеса могут быть использованы разработки, интегрированные с CRM системами: Microsoft Dynamics CRM, Oracle, SAP. Команда Adelar Telecom обеспечила интеграцию для таких компаний как «Эльдорадо», «М.Видео», «Спортмастер», O’STIN, «КамкомБанк», SUNLIGHT и многих других. Быстро и эффективно выполнять возникающие задачи позволяет собственная интеграционная платформа и команда интеграции
    +service-intro("img/2.png","--service --left --pb180")
      +e.H1.title Результат интеграции
      +e.P.info Заказчик получает комплексное решение, разработанное для реализации конкретных бизнес-задач с учетом отраслевой специфики. Коммуникации с клиентами осуществляются на надежной и качественной инфраструктуре Telemarketing Telecom. Специалисты и эксперты компании оказывают оперативную бизнес и техническую поддержку в круглосуточном режиме
    +service-intro("img/3.png","--service --pb180 mb-md-5")
      +e.H1.title Проектная команда
      +e.P.info В штат технических специалистов  компании входит более 100 человек, что позволяет выполнять все функции: управление проектами, аналитика, разработка, тестирование, внедрение, сопровождение, мониторинг и клиентский сервис. Это обеспечивает качественное и быстрое решение любых задач
 
 
    +telemarketing-usage()
      +e.H2.title Telemarketing Integration используют
      +left-intro-item("photo","img/telka.jpg")
        +e.H1.title Ритейл
        +e.P.description Cпособ взаимодействий, который требует дополнительных технических доработок. Подходит компаниям с особыми требованиями к безопасности.
        
        +b.A(href="article-details.html", class="btn-link")
          span Читать полностью
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='11px')
            path(fill-rule='evenodd', d='M13.472,10.999 L12.179,10.999 L16.259,6.041 L-0.000,6.000 L-0.000,5.000 L16.259,4.956 L12.179,-0.002 L13.472,-0.002 L18.999,5.499 L13.472,10.999 Z')
    
    
    
    +form-section("Оставить заявку", "")
      +e.H2.title Начните сегодня
      +e.P.info Клиентам Telemarketing4you доступен юридический и маркетинговый консалтинг. Специалисты компании разработают коммуникационную стратегию для достижения конкретных целей