extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/knowing-base/knowing-base

block variables 
  - var pageClass = '';
  - var pageTitle = "Техносила";
  - var pageDescription = ""
  - var pageName = "case-detail"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") Компания
      span.separator /
      a(href="vacancy.html") Вакансии
      span.separator /
      a(href="#") Java developer
    include ../sections/vacancy-details-section/vacancy-details-section