extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs
include ../sections/advantages/advantages
include ../sections/service-intro/service-intro

block variables 
  - var pageClass = '';
  - var pageTitle = "Официальный Viber";
  - var pageDescription = "Описание страницы"
  - var pageName = "viber"

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") Услуги
      span.separator /
      a(href="#") Официальный Viber
    
    +service-intro("img/phone-viber.png")
      +e.H1.title Официальный Viber
      +e.P.info Официальный сервис доставки сервисных сообщений, одобренный компанией Viber.<br>Благодаря гарантированной доставке сообщений и ряду уникальных преимуществ, рассылка в Viber становится одним из самых перспективных и эффективных способов информирования!
      

    +advantages("Преимущества")
      ul
        li Текст до 1000 символов
        li Контроль доставки сообщений
        li Высокая эффективность (лояльная аудитория)
        li Кликабельные ссылки
      ul
        li Низкая стоимость по сравнению с SMS
        li Широкие мультимедийные возможности
        li Интеграция с любыми информационными и CRM системами
        li Процент доставки сервисных сообщений Viber может превышать 40%
    include ../sections/connection/connection