extends ../layout/layout
include ../sections/breadcrumbs/breadcrumbs

block variables 
  - var pageClass = '';
  - var pageTitle = "Семинар: «Рассылка SMS: как не получить штраф и заработать лояльность клиента?»";
  - var pageDescription = ""
  - var pageName = ""

block content
  +b.MAIN(role='main')
    +breadcrumbs
      a(href="index.html") Главная
      span.separator /
      a(href="#") База знаний
      span.separator /
      a(href="videos.html") Видеозаписи
      span.separator /
      a(href="#") Семинары
    include ../sections/details/details
    +details("Семинар: «Рассылка SMS: как не получить штраф и заработать лояльность клиента?»", "29 Октября 2014", "video", "https://www.youtube.com/embed/GGIB2T5KNmM")
      +e.DIV.info 
        p Руководитель юридического отдела Telemarketing4you Алексей Воробьев рассказывает об основных положениях законов «О рекламе» и «О рекламе», которые регулируют процесс SMS-информирования. О том, как избежать штрафов за нарушение законодательства (штрафы за несанкционированные смс от 100 до 500 т.р.), какие законодательные требования к SMS-рассылкам закреплены в законах «О рекламе» и «О связи», какие существуют юридические требования, необходимые для корректного получения согласия абонента на получение рассылки. Также на семинаре обсуждались основные изменения в законе «О связи», вступившие в силу 21 октября 2014 года, законные способы сбора согласий абонентов на получение рассылок и пополнения клиентской базы, общие требования законодательства к тексту рекламных и информационных сообщений.
        p Помимо этого Алексей Воробьев рассказал о возможности блокировки sms-рассылок оператором сотовой связи по просьбе абонента и необходимость заключения прямого договора между оператором сотовой связи и компанией-заказчиком рассылки.