include ../../items/card-item/card-item

+b.SECTION.past-events
  .container
    +e.H2.title Прошедшие мероприятия
    +e.row
      +card-item("#","img/card.jpg")
      +card-item("#","img/card.jpg")
      +card-item("#","img/card.jpg")
      +card-item("#","img/card.jpg")
      +card-item("#","img/card.jpg")
      +card-item("#","img/card.jpg")
    