.past-events{
  padding-bottom: 112px;
  &__title{
    font-size: 20.5px;
    margin-top: 46px;
    margin-bottom: 58px;
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin: -17.5px;
    .card-wrap{
      margin: 17.5px;
      width: calc(33.3333% - 35px);
    }
  }
}

@media only screen and (max-width:992px){
  .past-events{
    &__row{
      .card-wrap{
        width: calc(50% - 35px);
      }
    }
  }
}

@media only screen and (max-width:767px){
  .past-events{
    &__row{
      .card-wrap{
        width: 100%;
      }
    }
  }
}