+b.SECTION.viber-section
  .container
    +e.viber-block
      +e.left
        +e.H1.title Официальный Viber
        +e.P.info Официальный сервис доставки сервисных сообщений, одобренный компанией Viber.<br>Благодаря гарантированной доставке сообщений и ряду уникальных преимуществ, рассылка в Viber становится одним из самых перспективных и эффективных способов информирования!
      +e.right
        +e.right-wrap