+b.SECTION.potential
  .container
    +e.H2.title Потенциал технологий, информации и людей

    .tabs
      ul.tabs-nav
        li
          a(href="#t1") Таб
        li
          a(href="#t2") Таб 2
      
      div#t1
        p лл
  
      div#t2
        p 00