.potential{
    margin:$section-margin 0;
    &__title{
        text-align: center;
        font-size: $section-title-size;
        font-weight: 300;
        margin-bottom: 70px;
    }
    &__tabs-nav{
        display: flex;
        margin-bottom: 80px;
    }
    &__tab-content{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tab-link-item{
        margin: 0 25px 0 0;
        width: 18%;
        &.ui-state-active{
            .potential__tab-link{
                border-color:$azul;
            }
        }
        &:last-child{
            margin: 0;
        }
    }
    &__tab-link{
        color:$warm-grey-four;
        text-decoration: none;
        font-weight: 300;
        width: 100%;
        font-size: 14px;
        line-height: 1.43;
        display: block;
        border-bottom: 2px solid $white-six;
        padding-bottom: 32px;
        height:74px;
        overflow: hidden;
        &:hover{
            color:$greyish-brown;
            border-color:$warm-grey-three;
        }
    }
    &__content{
        max-width: 590px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
    }
    &__image{
        img{
            display: block;
            width: 100%;
        }
    }
    .btn-link{
        margin-top: 55px;
        display: inline-block;
    }
}

@media only screen and (max-width:1080px){
    .potential{
        &__tabs-nav{
            flex-wrap: wrap;
            margin-bottom: 50px;
        }
        &__tab-link-item{
            width: calc(33.333% - 25px);
            margin-bottom: 30px;
        }
        &__tab-content{
            flex-wrap: wrap;
        }
        &__image{
            margin: 0 auto;
            width: 598px;
        }
        &__content{
            width: 100%;
            order:2;
            margin: 30px auto 0;
        }
    }
}


@media only screen and (max-width:767px){
    .potential{
        &__tab-link-item{
            width:100%;
            margin-bottom: 30px;
        }
        &__tab-link{
            height: initial;
        }
        &__content{
            font-size: $main-font-size;
        }
    }
}