+b.SECTION.consulting-section
  .container
    +e.consulting-block
      +e.left
        +e.H1.title Консалтинг
        +e.P.info Telemarketing4you оказывает своим клиентам юридическую и маркетинговую поддержку. Юридические консультации, содействие в организации эффективных коммуникационных стратегий под конкретные бизнес-задачи, сегментация существующей базы и аналитика эффективности информационных кампаний
      +e.right
        +e.right-wrap