.events{

  &__title{
    font-size: 31px;
    font-weight: 300;
    margin: 13px 0;
  }
  .event{
    padding: 78px 0;
    border-bottom: 1px solid $white-six;
    &__title{
      font-size: 50px;
      line-height: 1.3;
      font-weight: 300;
      margin-bottom: 74px;
    }
    &__date{
      font-size: 31px;
      font-weight: 300;
      color: $grey-two;
      margin-bottom: 63px;
    }
    &__link{
      font-size: 20.5px;
      font-weight: 300;
    }
  }
}


@media only screen and (max-width:767px){

  .events{
    .event{
      &__title{
        font-size: 31px;
      }
      &__date{
        font-size: 24px;
      }
    }
  }

}
