.events{
  .container{
    border-bottom: 1px solid $white-six;
  }
  &__title{
    font-size: 31px;
    font-weight: 300;
    margin: 13px 0;
  }
  .event{
    padding: 78px 0;
    &__title{
      font-size: 50px;
      line-height: 61px;
      font-weight: 300;
      margin-bottom: 74px;
    }
    &__date{
      font-size: 31px;
      font-weight: 300;
      color: $grey-two;
      margin-bottom: 63px;
    }
    &__link{
      font-size: 20.5px;
      font-weight: 300;
    }
  }
}