+b.SECTION.events
  .container
    +e.H3.title Мероприятия
    +b.event
      +e.H2.title Кулинарный воркшоп CRM World Club KZ в Алматы
      +e.P.date 18 Июля 2018, 18:00
      +e.A.link(href="world-club-details.html") Cмотреть отчет
include ../past-events/past-events