
@font-face {
    font-family: 'formular';
    src: url('../fonts/formular-bold.otf');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'formular';
    src: url('../fonts/formular-regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'formular';
    src: url('../fonts/formular-light.otf');
    font-weight: 300;
    font-style: normal;
}