
// Grid Options

// Grid breakpoints


$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1210px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 900px,
        lg: 1100px,
        xl: 1210px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// END of Grid Options
*{
        box-sizing: border-box;
}
.container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }

@media only screen and  (min-width: 576px) {
.container {
        max-width: 540px;
}
}

@media only screen and  (min-width: 768px) {
.container {
        max-width: 720px;
}
}

@media only screen and  (min-width: 992px) {
.container {
        max-width: 960px;
}
}

@media only screen and  (min-width: 1200px) {
.container {
        max-width: 1140px;
}
}

// Bootstrap file imports
// @import "../node_modules/bootstrap-4-grid/scss/breakpoints/mixins/breakpoints";
// @import "../node_modules/bootstrap-4-grid/scss/grid/bootstrap-grid";
// @import "../node_modules/bootstrap-4-grid/scss/sizing/utilities/sizing";
// @import "../node_modules/bootstrap-4-grid/scss/layout/utilities/spacing";
// @import "../node_modules/bootstrap-4-grid/scss/layout/mixins/visibility";
// @import "../node_modules/bootstrap-4-grid/scss/layout/utilities/visibility";
