/***********************COLORS & FONTS***********************/
$main-font: 'formular', sans-serif;


// colors
$white:#fff;

$white-five:
#efefef;

$black-six:
#323232;

$azul:
#1838e0;

$white-six:
#d2d2d2;

$accent:
#ffec86;

$black:
#000000;

$warm-grey-two:
#999999;

$white-three:
#e5e5e5;

$black-three:
#303030;

$warm-grey-three:
#909090;

$white-four:
#f7f7f7;

$cool-grey:
#939daa;

$dirt-brown:
#885d30;

$black-four:
#050505;

$black-five:
#2c2c2c;

$warm-grey-four:
#8a8a8a;

$greyish-brown:
#535353;

$greyish-three:
#b7b5b5;

//sizes
$main-font-size: 16px;


// ширина контейнера для блоков
$custom-container: calc(100% - 270px);
// отступы секций
$section-padding: 80px;
$section-padding-mobile: 50px;