/***********************COLORS & FONTS***********************/
$main-font: 'formular', sans-serif;


// colors
$white:#fff;

$white-five:
#efefef;

$black-six:
#323232;

$azul:
#1838e0;

$warm-blue:
#3a56e5;

$white-six:
#d2d2d2;

$white-seven:
#aeadad;

$gray:
#dbdbdb;

$accent:
#ffec86;

$black:
#000000;

$warm-grey-two:
#999999;

$white-three:
#e5e5e5;

$black-three:
#303030;

$warm-grey-three:
#909090;

$white-four:
#f7f7f7;

$pale-grey:
#fafafb;

$cool-grey:
#939daa;

$dirt-brown:
#885d30;

$black-four:
#050505;

$grey-two:
#898989;

$black-five:
#2c2c2c;

$pinkish-grey:
#cccccc;

$black-six:
#212121;

$warm-grey-four:
#8a8a8a;

$warm-grey-five:
#929292;

$greyish-brown:
#535353;

$greyish-three:
#b7b5b5;

//sizes
$main-font-size: 16px;
$section-title-size: 32px;

// ширина контейнера для блоков
$custom-container: calc(100% - 270px);

// отступы секций
$section-margin: 80px;
$section-margin-mobile: 50px;