include ../../items/info-item/info-item
+b.SECTION.connection-section
  .container
    +e.H2.title Варианты подключения
    +e.cards-wrap
      +info-item("telemarketing-integration.html")
        +e.H3.title Adelar Integration
        +e.P.text Низкоуровневая интеграция для крупного бизнеса
        +e.SPAN.link Подробнее
      +info-item("documentation.html")
        +e.H3.title Adelar Api
        +e.P.text CRM-интеграция для среднего бизнеса
        +e.SPAN.link Документация
      +info-item("telemarketing-online.html")
        +e.H3.title Adelar Online
        +e.P.text Веб-интерфейс и приложение для малого бизнеса
        +e.SPAN.link Подробнее