include ../../items/info-item/info-item
+b.SECTION.connection-section
  .container
    +e.H2.title Варианты подключения
    +e.cards-wrap
      +info-item("#")
        +e.H3.title Devino Integration
        +e.P.text Низкоуровневая интеграция для крупного бизнеса
        +e.SPAN.link Подробнее
      +info-item("#")
        +e.H3.title Devino Api
        +e.P.text CRM-интеграция для среднего бизнеса
        +e.SPAN.link Документация
      +info-item("#")
        +e.H3.title Devino Online
        +e.P.text Веб-интерфейс и приложение для малого бизнеса
        +e.SPAN.link Подробнее