+b.SECTION.leader
  .container
    +e.H2.title Лидерство 
      span через коммуникации
    +e.row
      +e.image
        img(src="img/index-img3.jpg", alt="")
      +e.content
        p
          strong BNS Group
        p Группа компаний БНС работает на розничном рынке с 1997 г. и развивает в России такие бренды, как Calvin Klein Jeans, Calvin Klein Underwear, MEXX, Michael Kors, Paper Shop, SIA, Topshop, Topman и др. Обладая эксклюзивными правами на известные бренды,  компания смогла завоевать репутацию прогрессивного игрока на рынке fashion-ритейл в России.

        +b.A(href="#", class="btn-link --blue")
          span Читать кейс
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='11px')
            path(fill-rule='evenodd', d='M13.472,10.999 L12.179,10.999 L16.259,6.041 L-0.000,6.000 L-0.000,5.000 L16.259,4.956 L12.179,-0.002 L13.472,-0.002 L18.999,5.499 L13.472,10.999 Z')
