+b.SECTION.leader
  .container
    +e.h2.title Лидерство
      span через коммуникации
    +e.row
      +e.image
        img(src="img/index-img3.jpg", alt="")
      +e.content
        p BNS Group
        p Группа компаний БНС работает на розничном рынке с 1997 г. и развивает в России такие бренды, как Calvin Klein Jeans, Calvin Klein Underwear, MEXX, Michael Kors, Paper Shop, SIA, Topshop, Topman и др. Обладая эксклюзивными правами на известные бренды,  компания смогла завоевать репутацию прогрессивного игрока на рынке fashion-ритейл в России.

        +b.A(href="#", class="link")
          span Читать кейс