include ../../ui/banner/banner
+intro-banner("img/index-img.jpg", "#")
  +e.H3.text Мир не стоит на 
    br
    |месте и ваш 
    br
    |бизнес должен
    br 
    |развиваться
    br 
    |вместе с ним