+b.SECTION.vk-messenger-section
  .container
    +e.vk-messenger-block
      +e.left
        +e.H1.title Сервисные сообщения ВКонтакте
        +e.P.info Общайтесь со своими клиентами через популярную социальную сеть России, отправляя им <a href="#">сервисные уведомления</a> от лица официальной страницы вашей компании ВКонтакте.
      +e.right
        +e.right-wrap