mixin picture-item(itemSrc)
  +b.picture-item
    img(src=itemSrc, alt="Изображение")
    +e.text-wrap
      if block
        block
      else
        //Пример
        +e.H4.title Заголовок карточки
        +e.P.text Текст карточки Текст карточки Текст карточки Текст карточки Текст карточки Текст карточки Текст карточки Текст карточки
        
