.breadcrumbs{
  &__links{
    padding-top: 25px;
    padding-bottom: 10px; 
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $white-six;
    align-items: center;
    a{
      color: $white-seven;
      text-decoration: none;
      font-size: 12px;
      font-weight: 300;
      margin-right: 3px;
      margin-left: 3px;
      padding-bottom: 15px;
      &:hover{
        color: $azul;
      }
    }
    .separator{
      padding-bottom: 15px;
      font-size: 12px;
      font-weight: 300;
      color: $white-seven;
      margin: 0 5px;
    }
  }
}

@media only screen and (max-width:992px){
  .breadcrumbs{
    overflow: auto;
    &__links{
      flex-wrap: nowrap;
      white-space: nowrap;
    }
  }
}