include ../../items/articles/articles
+b.license-section
  +knowing-base("Лицензии")
        +articles
          +e.left
            ul
              li(class="active")
                a(href="#") Компания использует технологии криптографического шифрования данных, сертифицированных ФСБ РФ
              li
                a(href="#") Компания Devino Telecom является Золотым партнером Beeline
              li
                a(href="#") Телематические услуги связи Федеральной службы по надзору в сфере связи № 137611
          +e.right
            img(src="img/license.jpg")