.license-section{
  .articles{
    &__left{
      min-width: 305px;
      max-width: 305px;
    }
    &__right{
      .container{
        display: flex;
        justify-content: center;
      }
      img{
        margin-bottom: 40px;
        //width: 100%;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px){
  .license-section{
    .articles{
      &__right{
        
        .container{
          display: block;
        }
        img{
          max-width: 100%;
        }
      }
    }
  }
}