// header
+b.HEADER.header
  +e.A(href="#", class="logo")
    img(src="img/logo/logo.svg", alt="") 
  +e.NAV.navigation
    +e.UL.list
      +e.LI.item
        +e.A(href="#", class="link") Услуги
      +e.LI.item
        +e.A(href="#", class="link") Решения
      +e.LI.item
        +e.A(href="#", class="link") База знаний
      +e.LI.item
        +e.A(href="#", class="link") CRM World Club
      +e.LI.item
        +e.A(href="#", class="link") Компания
      +e.LI.item
        +e.A(href="#", class="link") Контакты