// header
.header{
    background-color: $black;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;

    &__right{
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .lang:hover{
        position: relative;
        .header__dropdown{
            display: block;
            position: absolute;
            top: 60px;
            color: $black;
            .case{
                padding: 20px;
                background: $white-five;
                &:hover{
                    background: $white-six;
                }
            }
        }
    }
    &__dropdown{
        display: none;
    }
    &__button{
        height: 60px;
        width: 60px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#fff;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            background: $black-five;
        }
    }
    &__logo{
        width: 183px;
        display: block;
        margin-right: 53px;
        img{
            display: block;
        }
    }
    &__navigation{
        display: flex;
        &.open{
            display: flex;
        }
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
    }
    &__link{
        display: block;
        color:$white;
        font-size: 14px;
        text-decoration: none;
        padding: 0 13px;
        height: 60px;
        line-height: 60px;
        &:hover{
            background: $black-five;
        }
    }
}


@media only screen and (max-width:1080px){

    .header{
        &__logo{
            margin-right: 10px;
        }
        .nav-icon-wrap{
            display: flex;
        }
        &__navigation{
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            background: $black-three;
            padding: 15px 0px;
            display: none;
        }
        &__list{
            width: 100%;
        }
        &__item{
            display: block;
        }
        &__link{
            width: 100%;
            height: inherit;
            line-height: inherit;
            padding: 15px 30px;
        }
    }

}

@media only screen and (max-width:767px){
    .header{
        padding-left: 15px;
        padding-right: 15px;
        
        &__right{
            margin-right: -15px;
        }
        &__link{
            padding: 15px;
        }
    }
}