// header
+b.HEADER.header

  +e.A(href="index.html", class="logo")
    img(src="img/logo/logo.svg", alt="") 

  include ../../ui/mobile-nav-btn/mobile-nav-btn
  
  +e.NAV.navigation
    +e.UL.list
      +e.LI.item
        +e.A(href="javascript:void(0)", class="link") Услуги

        +b.UL(class="header-podmenu")
          +e.LI(class="__group")
            +b.UL.group-list
              +e.LI.item
                +e.A(href="sms.html", class="link") SMS-рассылка
              +e.LI.item
                +e.A(href="get-sms.html", class="link") Прием SMS
              +e.LI.item
                +e.A(href="email.html", class="link") E-mail рассылка
              +e.LI.item
                +e.A(href="hlr.html", class="link") HLR-запрос
              +e.LI.item
                +e.A(href="consulting.html", class="link") Консалтинг
          +e.LI(class="__group")
            +b.UL.group-list
              +e.LI.item
                +e.A(href="mobile-ad.html", class="link") Мобильная реклама
              +e.LI.item
                +e.A(href="viber.html", class="link") Официальный Viber
              +e.LI.item
                +e.A(href="vk-messenger.html", class="link") VK Messenger
              +e.LI.item
                +e.A(href="auth-imsi.html", class="link") Аутентификация IMSI
              +e.LI.item
                +e.A(href="auth.html", class="link") Двухфакторная аутентификация

      +e.LI.item
        +e.A(href="javascript:void(0)", class="link") Решения

        +b.UL(class="header-podmenu")
          +e.LI(class="__group")
            +b.UL.group-list
              +e.LI.item
                +e.A(href="telemarketing-integration.html", class="link") Devino Integration
              +e.LI.item
                +e.A(href="telemarketing-online.html", class="link") Devino Online
              +e.LI.item
                +e.A(href="#", class="link") Технологии

          +e.LI(class="__group")
            +b.UL.group-list
              +e.LI.item
                +e.A(href="#", class="link") Документация по API
              +e.LI.item
                +e.A(href="#", class="link") Retail DATA

      +e.LI.item
        +e.A(href="javascript:void(0)", class="link") База знаний
  
        +b.UL(class="header-podmenu")
          +e.LI(class="__group")
            +b.UL.group-list
              +e.LI.item
                +e.A(href="industry-solutions.html", class="link") Отраслевые решения
              +e.LI.item
                +e.A(href="videos.html", class="link") Видеозаписи

          +e.LI(class="__group")
            +b.UL.group-list
              +e.LI.item
                +e.A(href="articles.html", class="link") Статьи
              +e.LI.item
                +e.A(href="#", class="link") Devino Education
              +e.LI.item
                +e.A(href="confidentiality.html", class="link") Политика безопасности

      +e.LI.item
        +e.A(href="crm-world-club.html", class="link") CRM World Club
      +e.LI.item
        +e.A(href="javascript:void(0)", class="link") Компания
        +b.UL(class="header-podmenu")
          +e.LI(class="__group")
            +b.UL.group-list
              +e.LI.item
                +e.A(href="#", class="link") Новости
              +e.LI.item
                +e.A(href="company.html", class="link") О компании
              +e.LI.item
                +e.A(href="devino-life.html", class="link") Devino Life
              +e.LI.item
                +e.A(href="#", class="link") Кейсы

          +e.LI(class="__group")
            +b.UL.group-list
              +e.LI.item
                +e.A(href="#", class="link") Клиенты
              +e.LI.item
                +e.A(href="#", class="link") Лицензии
              +e.LI.item
                +e.A(href="press-center.html", class="link") Пресс-центр
              +e.LI.item
                +e.A(href="#", class="link") Вакансии
      +e.LI.item
        +e.A(href="#", class="link") Контакты
  
  +e.right
    +e.A(href="#").button.lang
      p Ru
      +e.dropdown
        p.case Ru
        p.case En
    +e.A(href="#").button
      img(src="img/icons/user.svg", alt="")
