include ../../items/articles/articles
+b.news-details-section
  +knowing-base("")
        +articles
          +e.left
            ul
              li(class="active")
                a(href="#") Telemarketing4you присоединилась к GSMA
                  span.date 16.05.2017
              li
                a(href="#") Онлайн-конференция: «Мобильная реклама»
                  span.date 16.05.2016
             
          +e.right
            +b.news-details
              .details__info
                +e.H1.title Telemarketing присоединилась к GSMA
                +e.SPAN.date 16.05.2017
                
                p Статус ассоциированного члена GSMA имеет целый ряд интеллектуальных, имиджевых и бизнес преимуществ. Присоединение нашей компании к GSMA отражает нашу нацеленность на технологическое развитие мобильных персонализированных коммуникаций во всех сферах бизнеса. Мы верим, что наше участие в ассоциации будет активным. 
  
                p GSMA это глобальная площадка для обеспечения интересов всех участников рынка мобильной связи и операторов, поставщиков оборудования, регулирующих организаций и в конечном итоге рядовых пользователей. 750 мобильных операторов в 220 странах мира и более 200 производителей оборудования являются членами ассоциации GSM.
                img(src="img/license.jpg")
              include ../../ui/social-block/social-block
                