mixin gray-item(image, link, itemClass)  
    +b.A.gray-item(href=link, class=itemClass)
        +e.image-wrap
            img(src=image)
        +e.text-wrap
            if block
                block
            else
                p Введите текст карточки