mixin gray-item(image, link, itemClass)  
    +b.A(href=link, class=itemClass).gray-item
        +e.image-wrap
            img(src=image)
        +e.text-wrap
            if block
                block
            else
                p Введите текст карточки