+b.SECTION.email-section
  .container
    +e.email-block
      +e.left
        +e.H1.title E-mail рассылка
        +e.P.info Услуга, которая позволяет осуществлять массовую передачу персонализированных e-mail вашим клиентам и анализировать их поведение на основе статистических данных. Высокая скорость работы и отказоустойчивость, личный кабинет для управлениями услугами, интеграция сервиса с внешними системами автоматизации бизнеса по SMTP
      +e.right
        +e.right-wrap
          +e.user-info
            +e.P.email-title e-mail информирование:
            +e.P.from От: 
              span Telemarketing4you
            +e.P.to Кому: 
              span Мария Никифорова
            +e.P.copy Копия: 
              span Филипп Никифоров
          +e.P.text Доброе утро, Мария! Telemarketing4you перевернет Ваше представление об операторе мобильного маркетинга! Мы не просим верить нам на слово, вы можете доверится нашим клиентам, узнав об их опыте в разделах Кейсы и Клиенты.
          +e.P.bottom С уважением, <br> Telemarketing4you
          
