mixin partners(sectionTitle,sectionClass)
  +b.SECTION.partners(class=sectionClass)
    if sectionClass
      .container
        if sectionTitle
          +e.H2.title #{sectionTitle}
        +e.UL.list
          if block
            block
    else
      if sectionTitle
        +e.H2.title #{sectionTitle}
      +e.UL.list
        if block
          block
        