include ../../items/gray-item/gray-item
+b.SECTION.analytics
  .container
    +e.title-block
      +e.H3.title Аналитика и семинары
      +e.P.subtitle все материалы
    +e.items

        +gray-item("img/analytics/1.jpg","video-details.html", "__item")
            span Онлайн-семинар «Viber
              |для бизнеса»

        +gray-item("img/analytics/2.jpg","online-conf.html", "__item")
            span Онлайн-конференция 
              |«Мобильная реклама»

        +gray-item("img/analytics/3.jpg","online-conf.html", "__item")
            span Онлайн-конференция: 
              |«SMS-информирование: 
              |больше результата за 
              |меньшие деньги»

        +gray-item("img/analytics/4.jpg","online-conf.html", "__item")
            span Семинар: «Копирайтинг в 
              |SMS-маркетинге: как ёмко, 
              |ярко и эффективно 
              |написать текст SMS»

        +gray-item("img/analytics/5.jpg","online-conf.html", "__item")
            span Семинар: «Стоп-СПАМ: 
              |как соблюсти 
              |законодательство и не 
              |получить штраф?»

        +gray-item("img/analytics/6.jpg","online-conf.html", "__item")
            span Семинар: «SMS-маркетинг 
              |- разрабатываем 
              |коммуникационную 
              |стратегию»