include ../../items/left-intro-item/left-intro-item
+b.SECTION.telemarketing-online-usage
  .container
    +e.H2.title Telemarketing Online используют
    +left-intro-item("photo","img/crm.jpg")
      +e.H1.title Ресторанный бизнес
      +e.P.description Самый простой способ взаимодействия, он не предполагает долгих интеграций. Для того, чтобы начать пользоваться Telemarketing On-line, достаточно зарегистрироваться на сайте.
      +e.A.link(href="#") Читать полностью