include ../../items/left-intro-item/left-intro-item
+b.SECTION.telemarketing-online-usage
  .container
    +e.H2.title Telemarketing Online используют
    +left-intro-item("photo","img/t-online.jpg")
      +e.H1.title Ресторанный бизнес
      +e.P.description Самый простой способ взаимодействия, он не предполагает долгих интеграций. Для того, чтобы начать пользоваться Telemarketing On-line, достаточно зарегистрироваться на сайте.
      +b.A(href="#", class="btn-link --blue")
        span Читать полностью
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='11px')
          path(fill-rule='evenodd', d='M13.472,10.999 L12.179,10.999 L16.259,6.041 L-0.000,6.000 L-0.000,5.000 L16.259,4.956 L12.179,-0.002 L13.472,-0.002 L18.999,5.499 L13.472,10.999 Z')