include ../../items/left-intro-item/left-intro-item
+b.SECTION.devino-life-section
  .container
    +e.H2.title Devino Life
    +left-intro-item("photo","img/devino-life1.jpg","--not-dots")
      +e.H1.title Рабочая встреча Devino Telecom в Минске
      +e.P.description 18 мая состоялся продуктивный воркшоп Devino Telecom в Минске.
      +b.A(href="#", class="btn-link --blue")
        span Подробнее
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='11px')
          path(fill-rule='evenodd', d='M13.472,10.999 L12.179,10.999 L16.259,6.041 L-0.000,6.000 L-0.000,5.000 L16.259,4.956 L12.179,-0.002 L13.472,-0.002 L18.999,5.499 L13.472,10.999 Z')

    +left-intro-item("photo","img/devino-life2.jpg","--not-dots")
      +e.H1.title CRM World Club в Казахстане
      +e.P.description 17 апреля состоялась первая рабочая встреча CRM World Club в Алматы.
      +b.A(href="#", class="btn-link --blue")
        span Подробнее
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='11px')
          path(fill-rule='evenodd', d='M13.472,10.999 L12.179,10.999 L16.259,6.041 L-0.000,6.000 L-0.000,5.000 L16.259,4.956 L12.179,-0.002 L13.472,-0.002 L18.999,5.499 L13.472,10.999 Z')