.adventages-section{
  &__title{
    font-size: 31.5px;
    font-weight: 300;
    color: $black;
    margin: 80px 0;
    text-align: center;
  }
  &__list{
    display: flex;
  }
  li{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    padding-bottom: 35px;
    padding-left: 28px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: url('../img/list.svg');
      left: 0;
      top: 8px;
    }
  }
  &__left{
    max-width: 460px;
    margin-right: 140px;
  }
  &__right{
    max-width: 460px;
  }
}

@media only screen and (max-width:767px){
  .adventages-section{
    &__list{
      flex-direction: column;
    }
  }
}