mixin advantages(title)
  +b.SECTION.adventages-section
    .container
      +e.H2.title #{title}
      +e.list
        if block
          block
        else
          +e.left
            ul
              li Оперативное уведомление своих потенциальных и действующих клиентов о скидках и акциях
              li Информирование о проведении мероприятий, новых товарах и услугах
              li Регулярная отправка деловых новостей подписчикам
              li Привлечение дополнительного трафика на свой сайт
          +e.right
            ul
              li Работа с клиентом в рамках программ лояльности и рекламных акций
              li Сбор и анализ статистики по проведенной рассылке
              li Простое и быстрое создание индивидуального макета письма
              li Возможность интеграции с внешними системами